In [1]:
import pandas as pd

In [23]:
data = {
'year': [2016, 2017, 2018],
'GDP rate': [2.8, 3.1, 3.0],
'GDP': ['1.637M', '1.73M', '1.83M']
}
df = pd.DataFrame(data)
df

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [16]:
rev = pd.read_csv('./reviews.csv')
rev_co =  pd.read_csv('./reviews_by_course.csv')

In [17]:
print(rev.shape)
print(rev_co.shape)

(107018, 3)
(140320, 3)

In [32]:
rev.head()

   Id                                             Review  Label
0   0                               good and interesting      5
1   1  This class is very helpful to me. Currently, I...      5
2   2  like!Prof and TAs are helpful and the discussi...      5
3   3  Easy to follow and includes a lot basic and im...      5
4   4  Really nice teacher!I could got the point eazl...      4

In [33]:
rev_co.head()

     CourseId                                             Review  Label
0  2-speed-it                                             BOring      1
1  2-speed-it                                            Bravo !      5
2  2-speed-it                                           Very goo      5
3  2-speed-it  Great course - I recommend it for all, especia...      5
4  2-speed-it    One of the most useful course on IT Management!      5

In [34]:
reviews = pd.concat([rev, rev_co], join ='inner',  axis=0)
reviews
# concat – 행으로 연결할 때, axis=0

                                                   Review  Label
0                                    good and interesting      5
1       This class is very helpful to me. Currently, I...      5
2       like!Prof and TAs are helpful and the discussi...      5
3       Easy to follow and includes a lot basic and im...      5
4       Really nice teacher!I could got the point eazl...      4
...                                                   ...    ...
140315  Trendy topic with talks from expertises in the...      4
140316  Wonderful! Simple and clear language, good ins...      5
140317   an interesting and fun course. thanks. dr quincy      5
140318  very broad perspective, up to date information...      4
140319  An informative course on the social and financ...      4

[247338 rows x 2 columns]

In [35]:
reviews = reviews.drop_duplicates()

In [36]:
reviews.shape

(124139, 2)

In [61]:
reviews.head()

                                              Review  Label
0                               good and interesting      5
1  This class is very helpful to me. Currently, I...      5
2  like!Prof and TAs are helpful and the discussi...      5
3  Easy to follow and includes a lot basic and im...      5
4  Really nice teacher!I could got the point eazl...      4

In [62]:
reviews.tail()

                                                   Review  Label
140305  提前看完第一周的课程。一个字，美。无论是音乐，还是插图，都极富韵味。让人在学习的同事也充满着...      5
140307  Buenos materiales, realización y orientación m...      5
140310                             Muito bom e confiável.      5
140312  Muito bom o curso, feito perfeitamente com pro...      5
140314  Excelente curso, se aprenden muchas perspectiv...      5

In [56]:
reviews['Label'].value_counts()

5    91803
4    21210
3     5815
1     2793
2     2518
Name: Label, dtype: int64

### Taking values Label1~3

In [60]:
str_expr = "Label == [1,2,3]"
reviews_neg= reviews.query(str_expr)        
reviews_neg

                                                   Review  Label
7       I was disappointed because the name is mislead...      3
13      Good content, but the course setting does (at ...      3
17      This course does not say anything about digiti...      2
19      The course content is quite good, though it co...      3
48      I'll start by saying that this course gives a ...      3
...                                                   ...    ...
140088                                           以其昏昏使人昭昭      1
140114                                          教师与学生互动不多      3
140143                                  以台大來說 這個內容明顯不符合期望      1
140212  課程影片中的面試題和作業對準備面試有一定幫助，讓學生可以提早思考、適應面試時的情況。唯影片中...      3
140237  作为一直生活在现代医学里的人，觉得就让中药留在历史中，当成文化就好了。中药没有合适的可累计的...      1

[11126 rows x 2 columns]