### 문자열 포매팅 방법은 
- %와 서식기호를 이용한 방법, 
- format 함수를 이용한 방법,   
- f-string을 이용한 방법 이렇게 세가지가 있다고 볼 수 있습니다.

### % + 문자열  %s, %d  %f

In [1]:
# % 기호 문자 출력
names = ['kim', 'park', 'lee']
for name in names:
    print('my name is %s' % name)
 
# % 기호 정수 출력
money = 10000
s2 = 'give me %d won' % money
print(s2)
 
# % 기호 실수 출력
d = 3.141592
print('value %f' % d)

my name is kim
my name is park
my name is lee
give me 10000 won
value 3.141592

In [ ]:
# 출력해야할 값이 두개 이상인 경우 () 를 이용합니다.
s1 = 'my name is %s. age : %d' % ('blockdmask', 100)
print(s1)
 
# 출력해야할 값이 점점 많아 질 수록..
age = 80
money = 20000
name = 'Kim'
weight = 80.12
etc = 'abcde'
s2 = 'my name is %s, age : %d, weight : %f, money : %d, etc : %s' % (name, age, weight, money, etc)
print(s2)

이렇게 출력이 많을때는 ()를 이용해서 순서에 맞게 입력해주면 됩니다.
% 서식 문자를 이용한 문자열 포매팅은 언뜻 보면 타입을 정해주기 때문에 정확해 보이지만, 타입을 정해야 하기 때문에 불편한 점도 존재합니다.

그래서 이걸 개선하기 위해서 지난시간에 말한 str.format 형식이 나오게 된것이고, 그 이후에 f-string 방법이 나오게 된 것 입니다.

### 2. format 함수를 이용한 방법

- '{인덱스0}, {인덱스1}'.format(값0, 값1)

In [2]:
# 직접 대입하기
s1 = 'name : {0}'.format('Genie')
print(s1)
 
 
# 변수로 대입 하기
age = 17
s2 = 'age : {0}'.format(age)
print(s2)
 
# 이름으로 대입하기
s3 = 'number : {num}, gender : {gen}'.format(num=1234, gen='female')
print(s3)

name : Genie
age : 17
number : 1234, gender : female

### 3. f-string을 이용한 방법 

- f-string의 모양은 f와 {}만 알면 됩니다. 문자열 맨 앞에 f를 붙여주고, 중괄호 안에 직접 변수 이름이나 출력하고 싶은것을 바로 넣으면 됩니다.
- f'문자열 {변수} 문자열'

In [3]:
# 문자열 맨 앞에 f를 붙이고, 출력할 변수, 값을 중괄호 안에 넣습니다.
s = 'orange jucie'
n = 5
result1 = f'저는 {s}를 좋아합니다. 하루 {n}잔 마셔요.'
print(result1)

저는 orange jucie를 좋아합니다. 하루 5잔 마셔요.