In [ ]:
score = int(input("수학점수를 입력해주세요"))
print(score + 10)

수학점수를 입력해주세요34
44

In [ ]:
print("line1", end = "   ")
print("line2")

line1   line2

In [ ]:
for x in range(5)
  print("line"+(x+1))

SyntaxError: ignored

In [ ]:
a = line(x)
for x in range(5)
print(a)

In [ ]:
age = int(input("나이를 입력하세요"))

if(age >= 18):
  print("당신은 성년입니다.")
else:
  print("성년이 아닙니다")

In [ ]:
age = int(input("나이를 입력하세요"))

if(15 <= age >= 18):
  print("놀이동산 출입 가능")

In [ ]:
score = int(input("성적"))

if(score >= 90):
  print("A")
elif(score >= 80):
  print("B")
elif(score>=70):
  print("C")
else:
  print("D")

In [ ]:
thisyear = int(input("올해연도?"))
if thisyear == 2021:
  print("정확합니다")
else:
  print(f"올해가 아닙니다.올해는{thisyear}")

In [ ]:
import datetime

In [ ]:
thisYear = int(input("올해연도?"))

year = 2021
if thisYear == 2021:
  print("정확합니다")
else:
  print("올해가 아닙니다.올해는:" , year)

In [ ]:
temp = int(input("온도는?"))
weather = input("날씨는?")
if temp >= 20 and weather =="맑음":
  print("소풍을 갑니다.")
else:
  print("집에 있기")

In [ ]:
print("{}와 {}의 합은{}입니다.". format(2,5,7))

In [ ]:
num = int(input("사람의 수는 :"))
if num >= 10:
  print("사람이 10명이상입니다")
  print("두 개의 방에 나눠 들어가야 합니다.")
else:
  print("사람이 10명 미만입니다.")

###짝수 홀수

In [ ]:
score = int(input("학점입력"))
if score >= 90:
print

In [ ]:
num = int(input("값입력"))
if num%2 == 0: 
    print("짝수")
else:
    print("홀수")

### 숫자입력

In [ ]:
hrs = input("Enter hours")
h = float(hrs)
xx = input("Enter the Rate")
x = float(xx)
if h <= 40:
    print(h * x)
elif h >= 40:
    print(40* x + (h-40) * 1.5 *x)