lxml : 파서(Parser), 원시코드인 순수 문자열 객체를 해석할 수 있도록 분석.  

*   lxml : c로 구현된 가장 빠름.  
* html5lib : 웹 브라우저 방식으로 HTML 해석  
* html.parser

In [ ]:
from bs4 import BeautifulSoup
html = "<p>test</p>"
soup = BeautifulSoup(html, 'lxml')
print(soup)

<html><body><p>test</p></body></html>

In [ ]:
from bs4 import BeautifulSoup
html = "<p>test</p>"
soup = BeautifulSoup(html, 'html5lib')
print(soup)
soup.prettify()

<html><head></head><body><p>test</p></body></html>

'<html>\n <head>\n </head>\n <body>\n  <p>\n   test\n  </p>\n </body>\n</html>'

HTML에서 정보 가져오기

In [ ]:
from bs4 import BeautifulSoup

html= """
<html>
<head><title> test site </title></head>
<p class='class1' align="left">test3</p>
<p class='class1'>test2</p>
<p id='p1'>오늘의 주가지수 1500</p>
<span class='class3'>span tag text</span>
<p class='class4'>test3</p>
</html>
"""

In [ ]:
soup = BeautifulSoup(html, 'lxml')

soup.p

## find와 find_all를 이용하기

*  find_all: 리스트
*  find: 문자열|

In [ ]:
soup.find_all('p')

[<p align="left" class="class1">test3</p>,
 <p class="class1">test2</p>,
 <p id="p1">오늘의 주가지수 1500</p>,
 <p class="class4">test3</p>]

soup.find('태그이름')

In [ ]:
from bs4 import BeautifulSoup

html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <div>   #Q <div></div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
    </div>
</body>
</html>
'''

3-2 (실습) div 2번째 요소 안의 p태그 전체를 가져와 보자.

In [ ]:
soup = BeautifulSoup(html, 'lxml')

In [ ]:
div2 =soup.find_all('div')[1]
div2

<div>
<p id="p1">오늘의 주가지수 1500</p>
<p class="class4">test3</p>
<span class="class3">span tag text</span>
</div>

In [ ]:
p_all = div2.find_all("p")
p_all

3-2 (추가) div 첫번째 요소의 안의 첫번째 p태그 요소 가져오기

In [ ]:
soup.find('div').find("p")  #soup.find('div')하면 기본적으로 맨 첫째 리스트를 가져오기 때문에, [N]을 따로 써줄필요가 없다.

In [ ]:
soup.div.p

3-2 (생각해보기) a태그의 모든 url을 가져오기

In [ ]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <a href="https://www.google.com">구글</a>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

In [ ]:
# 방법1
urls = soup.find_all('a')

for url in urls:
  print(url.get("href"))

https://www.google.com
https://www.naver.com/
https://www.daum.com/

In [ ]:
# 방법2
urls = soup.find_all('a')

for url in urls:
  print(url.attrs["href"]) # attrs는 딕션어리로 값을 받아오는 함수여서 출력을 할려면 []가 필요

https://www.google.com
https://www.naver.com/
https://www.daum.com/

## children 를 활용

*   자신의 요소의 자식들의 요소를 가지고 올 수 있다.
* content속성(or contents)을 이용하여 가져올수도 있음.
* 기타 parents, next_sibling, next_elements 등이 있음

In [ ]:
## children으로 가지고 오면 몇개 태그도 가져 올까요? 
## 흰트: 줄바꿈도 포함 
<p class="no_today">
								<em class="no_down">

							<span class="blind">63,200</span>
							<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
						</em>
					</p>

In [ ]:
len(soup.find("p", class_="no_today)").children)

AttributeError: ignored

### 실습

In [ ]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <a href="https://www.google.com">구글</a>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

In [ ]:
div1 = soup.find("div")
div1

<div>
<p align="left" class="class1">test3</p>
<p class="class1">test2</p>
</div>

In [ ]:
div1.children

In [ ]:
list(div1.children)

['\n',
 <p align="left" class="class1">test3</p>,
 '\n',
 <p class="class1">test2</p>,
 '\n']

3-3 주어진 코드에서 children 속성을 이용해서 span 태그 요소를 가져와 보자.

In [ ]:
soup.find_all("div")[1].children

In [ ]:
list(soup.find_all("div")[1].children)

['\n',
 <p id="p1">오늘의 주가지수 1500</p>,
 '\n',
 <p class="class4">test3</p>,
 '\n',
 <span class="class3">span tag text</span>,
 '\n',
 <a href="https://www.naver.com/">네이버</a>,
 '\n',
 <a href="https://www.daum.com/">다음</a>,
 '\n']

In [ ]:
list(soup.find_all("div")[1].children)[5]

text 가져오기

In [ ]:
p_all = soup.find('body').find_all('p')
p_all

[<a href="https://www.google.com">구글</a>,
 <a href="https://www.naver.com/">네이버</a>,
 <a href="https://www.daum.com/">다음</a>]

In [ ]:
for one in p_all:
  print(one.text)

test3
test2
오늘의 주가지수 1500
test3

4-2 (추가) a태그의 url 및 text가져오기.

In [ ]:
a_all = soup.find('body').find_all('a')
a_all

[<a href="https://www.google.com">구글</a>,
 <a href="https://www.naver.com/">네이버</a>,
 <a href="https://www.daum.com/">다음</a>]

In [ ]:
for url in a_all:
  print(url.attrs["href"])

https://www.google.com
https://www.naver.com/
https://www.daum.com/

4-3 (실습) 위의 내용을 csv파일로 만들어보자

In [ ]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <a href="https://www.google.com">구글</a>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

In [ ]:
import pandas as pd

In [ ]:
com = []
urls = []
list_a = soup.findAll("a")
for one in list_a:
    print(one.text, one.get("href"))
    com.append(one.text)
    urls.append(one.get('href'))
print(com)
print(urls)

구글 https://www.google.com
네이버 https://www.naver.com/
다음 https://www.daum.com/
['구글', '네이버', '다음']
['https://www.google.com', 'https://www.naver.com/', 'https://www.daum.com/']

In [ ]:
dat = {'회사명':com, '회사명': urls}
dat = pd.DataFrame(dat)
dat

                      회사명
0  https://www.google.com
1  https://www.naver.com/
2   https://www.daum.com/

In [ ]:
dat.to_csv("회사명과웹사이트.csv", index=False)  #csv 로 만들기
dat.to_excel("회사명과웹사이트.xlsx", index=False) #excel로 만들기

##확인
import os
print(os.getcwd())  #현재 위치
print(os.listdir(os.getcwd()))

/content
['.config', '회사명과웹사이트.xlsx', '회사명과웹사이트.csv', 'sample_data']

soup = BeautifulSoup(page, "html.parser")에서html.parser, lxml, html5lib을 선택하는 기준이 있나요?

> lxml이 제일 빠릅니다. 그러나 회사에서 주로 쓰는 걸로 하세요

##4-5 코스피, 코스닥, 코스피200 정보 가져오기

In [ ]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

url = "https://finance.naver.com/sise/"

page = urlopen(url)
page

soup = BeautifulSoup(page, "html.parser")
soup.title

In [ ]:
kospi = soup.find("span", id="KOSPI_now").text     #text 만 뽑아 내기 
kosdaq = soup.find("span", id="KOSDAQ_now").text
kospi200 = soup.find("span", id="KPI200_now").text

print("현재 코스피 지수는 :", kospi)
print("현재 코스닥 지수는 :", kosdaq)
print("현재 코스피200 지수는 :", kospi200)

현재 코스피 지수는 : 3,274.74
현재 코스닥 지수는 : 999.28
현재 코스피200 지수는 : 436.33

In [ ]:
soup_p = soup.find("div", id='tab_sel3_risefall').find("dd", class_="profit").text
print( soup_p.replace("\n", " ") )
soup_p = soup.find("div", id='tab_sel3_risefall').find("dd", class_="loss").text
print( soup_p.replace("\n", " ") )
soup_p = soup.find("div", id='tab_sel3_risefall').find("dd", class_="total").text
print( soup_p.replace("\n", " ") )

 차익 +94억
 비차익 -65억
 전체 +30억

5-3 (추가) 인기 검색 종목 +(상승), -(하락) 포함시키기

In [ ]:
# 김동화님 코드
url = 'https://finance.naver.com/sise/'
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')
ul = soup.find_all("ul", class_="lst_pop", id="popularItemList")[0]
ranktag = ul.find_all("a")
updowntag = ul.find_all("span", class_="blind")
for i in range(10) :
    rank = ranktag[i]
    updown = updowntag[i]
    print(rank.get("onclick")[-9]+"위. "+rank.text+"\t"+updown.text)

1위. 삼성전자	상승
2위. 쌍방울	하락
3위. 카카오	하락
4위. 대원전선	상승
5위. 두산중공업	상승
6위. HMM	상승
7위. NAVER	상승
8위. 한전산업	상승
9위. 서울식품	상승
0위. 대한전선	상승

In [ ]:
# 이예준님 코드
url = "https://finance.naver.com/sise/"
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

rank_1 = soup.find('div', class_='rgt')
rank_list = rank_1.find('ul').text.split('\n')
for i in rank_list:
    print(i)

1.삼성전자81,700상승
2.쌍방울1,210하락
3.카카오143,500하락
4.대원전선3,580상승
5.두산중공업24,450상승
6.HMM45,100상승
7.NAVER390,500상승
8.한전산업11,000상승
9.서울식품438상승
10.대한전선3,270상승

5-3 (추가) 인기 검색 종목 코드 가져오기

In [ ]:
#이응진님 코드

## naver finance 인기 종목
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
url = "https://finance.naver.com/sise/"
page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")
all_pop = soup.find("ul", class_="lst_pop").find_all("li")
all_data = []
for li in all_pop:
    dic = {}
    dic["rank"] = td.find("img").text
    dic["com"] = li.find("a").text     
    dic["up_down"] = li.find('span', class_='blind').text
    dic["price"] = li.find('span').text
    dic["code"] = li.find('a').get("onclick").split(',')[2].strip("''")
    all_data.append(dic)
dat = pd.DataFrame(all_data)
dat

  rank    com up_down    price    code
0   1.  NAVER      상승  391,500  035420
1   2.   삼성전자      상승   81,600  005930
2   3.   대원전선      상승    3,595  006340
3   4.    쌍방울      하락    1,295  102280
4   5.    카카오      하락  143,500  035720
5   6.  두산중공업      상승   24,550  034020
6   7.    HMM      상승   45,250  011200
7   8.   서울식품      상승      454  004410
8   9.   대한전선      상승    3,285  001440
9  10.   한전산업      상승   10,950  130660

해당 정보가 있는 부분을 가져온다.
*  <주의> class_="클래스명"

In [ ]:

## naver finance Top 종목
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

url = "https://finance.naver.com/sise/"
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')
all_top = soup.find("div", class_="box_type_l").find("div", class_="choice_lt").text
all_data = []

for tr in all_top:
    dic = {}
    # dic["순위"] = td.find("img").text 
    dic["연속"] = tr.find('td', class_="number").text 
    dic["누적"] = tr.find('td', class_="number").text 
    dic["현재가"] = tr.find('td', class_="number").text 
    #dic["화살표"] = em.find('span', class_="blind").text 
    dic["전일비"] = tr.find('span', class_="tah p11 red01").text 
    # dic["등락률"] = td.find('span', class_="tah p11 red01").text 
    dic["거래량"] = tr.find('td', class_="number").text 
    dic["시가"] = tr.find('td', class_="number").text 
    dic["고가"] = tr.find('td', class_="number").text 
    dic["저가"] = tr.find('td', class_="number").text 

    all_data.append(dic)
dat = pd.DataFrame(all_data)
dat

Empty DataFrame
Columns: []
Index: []

### 복습 (21.06.17)

In [ ]:
## 사용할 코드 ##
<p class="no_today">

								<em class="no_down">
							
							<span class="blind">63,200</span>
							<span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no2">2</span><span class="no0">0</span><span class="no0">0</span>
						</em>
					</p>

In [ ]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [ ]:
my_stock = ['삼성전자', '카카오', '유한양행', 'NAVER']
my_stock_code = ['005930','035720', '000100', '035420']

## url에 회사마다 코드가 있다 
chk_url = 'https://finance.naver.com/item/main.nhn?code=000100'
page = urlopen(chk_url)
soup = BeautifulSoup(page, 'html.parser')
soup.title

In [ ]:
soup.find("p", class_="no_today").find("span", class_="blind").text

'63,200'

In [ ]:
my_stock = ['삼성전자', '카카오', '유한양행', 'NAVER']
my_stock_code = ['005930','035720', '000100', '035420']
base_url = 'https://finance.naver.com/item/main.nhn?code='

In [ ]:
cnt = 0
for  code in my_stock_code:
    all_url = base_url+code
    page=urlopen(all_url)
    soup=BeautifulSoup(page, 'lxml')
    ##현재가
    tmp=soup.find("p", class_="no_today")
    price = tmp.find("span", class_="blind").text
    print(my_stock[cnt], price)
    cnt+=1

삼성전자 80,900
카카오 145,000
유한양행 63,100
NAVER 390,500

In [ ]:
all_url=''  # 질문 이게 뭐지?
for idx, code in enumerate(my_stock_code):
    all_url = base_url+code
    page=urlopen(all_url)
    soup=BeautifulSoup(page, 'lxml')
    ##현재가
    tmp=soup.find("p", class_="no_today")
    price = tmp.find("span", class_="blind").text
    print(my_stock[idx], price)

삼성전자 80,900
카카오 145,000
유한양행 63,100
NAVER 390,500

In [ ]:
all_url=''  # 밑에 사용할 all_url을 문자열 변수로 미리 선언
for idx, code in enumerate(my_stock_code):
    all_url = base_url+code
    page=urlopen(all_url)
    soup=BeautifulSoup(page, 'lxml')
    
    ##현재가
    tmp= soup.find("p", class_="no_today")
    price = tmp.find("span", class_="blind").text
    print(my_stock[idx], price)
    

    ##거래량
    change = soup.find('span',class_="sptxt sp_txt9")
    price_rate = change.find_next("span", class_="blind").text
    print(my_stock[idx], price_rate)

삼성전자 80,800
삼성전자 6,454,585
카카오 146,500
카카오 2,605,675
유한양행 63,000
유한양행 120,967
NAVER 392,000
NAVER 308,939

## 자료형에 해당되는 함수 찾는 법 >>>  변수.

---

In [ ]:
a = soup.find('span', class_="sptxt sp_txt9")
a

In [ ]:
a.

SyntaxError: ignored