[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/4.1%20ETF%20%EB%AA%A9%EB%A1%9D%20%EC%88%98%EC%A7%91-input.ipynb)


## ETF란?
* ETF(상장지수펀드)는 기초지수의 성과를 추적하는 것이 목표인 인덱스펀드로, 거래소에 상장되어 있어서 개별주식과 마찬가지로 기존의 주식계좌를 통해 거래를 할 수 있습니다. 그 구성종목과 수량 등 자산구성내역(PDF)이 투명하게 공개되어 있고, 장중에는 실시간으로 순자산가치(NAV)가 제공되어 거래에 참고하실 수 있습니다. ETF는 1좌를 거래할 수 있는 최소한의 금액만으로 분산투자 효과를 누릴 수 있어 효율적인 투자수단이며, 펀드보다 운용보수가 낮고 주식에 적용되는 거래세도 붙지 않습니다. 
    * 출처 : [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn)


## 크롬 브라우저의 네트워크 정보를 통한 데이터 수집
* json 데이터 수집과 파일저장 방법

* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn)

In [3]:
# 라이브러리를 불러옵니다.
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy, http 요청을 위한 requests를 받아옵니다.
import pandas as pd
import numpy as np
import requests

In [17]:
# 수집할 url을 가져옵니다.
# url = 'https://finance.naver.com/sise/etf.nhn'
url = 'https://finance.naver.com/api/sise/etfItemList.nhn'

## Pandas를 통한 요청

In [18]:
#table 탭으로 되어 있으니까 pandas로 요청??
pd.read_html(url)

#왜 아무것도 안불러와 지지?

ValueError: No tables found

## JSON 

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/JSON_vector_logo.svg/300px-JSON_vector_logo.svg.png" width="100">

JSON(제이슨, JavaScript Object Notation)은 속성-값 쌍( attribute–value pairs and array data types (or any other serializable value)) 또는 "키-값 쌍"으로 이루어진 데이터 오브젝트를 전달하기 위해 인간이 읽을 수 있는 텍스트를 사용하는 개방형 표준 포맷이다. 비동기 브라우저/서버 통신 (AJAX)을 위해, 넓게는 XML(AJAX가 사용)을 대체하는 주요 데이터 포맷이다. 특히, 인터넷에서 자료를 주고 받을 때 그 자료를 표현하는 방법으로 알려져 있다. 자료의 종류에 큰 제한은 없으며, 특히 컴퓨터 프로그램의 변수값을 표현하는 데 적합하다.
본래는 자바스크립트 언어로부터 파생되어 자바스크립트의 구문 형식을 따르지만 언어 독립형 데이터 포맷이다. 즉, 프로그래밍 언어나 플랫폼에 독립적이므로, 구문 분석 및 JSON 데이터 생성을 위한 코드는 C, C++, C#, 자바, 자바스크립트, 펄, 파이썬 등 수많은 프로그래밍 언어에서 쉽게 이용할 수 있다.

* 출처 : [JSON - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/JSON)

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)

In [ ]:
url= 'https://finance.naver.com/api/sise/etfItemList.nhn'

In [19]:
# requests 라이브러리를 통해 url을 받아옵니다.
# request는 키와 값이 있다.
response = requests.get(url)
response

### JSON 타입으로 데이터 받기

In [20]:
# requests 의 응답을 json 타입으로 받습니다.
etf_json = response.json()

In [24]:
etfItemList = etf_json['result']['etfItemList']
etfItemList[0]

{'itemcode': '069500',
 'etfTabCode': 1,
 'itemname': 'KODEX 200',
 'nowVal': 43005,
 'risefall': '2',
 'changeVal': 130,
 'changeRate': 0.3,
 'nav': 43027.0,
 'threeMonthEarnRate': -0.7363,
 'quant': 2409683,
 'amonut': 103245,
 'marketSum': 41672}

## 데이터프레임 변환
### JSON 데이터를 pandas 의 데이터프레임 형태로 만들기

In [27]:
# 키-값 형태의 데이터를 데이터프레임으로 만듭니다.
df = pd.DataFrame(etfItemList)
df.shape

(489, 12)

In [28]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,43005,2,130,0.30,43027.0,-0.7363,2409683,103245,41672
1,153130,6,KODEX 단기채권,102845,3,0,0.00,102846.0,0.0340,16993,1747,24206
2,252670,3,KODEX 200선물인버스2X,1930,5,-10,-0.52,1933.0,0.0000,208803439,405192,22070
3,102110,1,TIGER 200,43020,2,85,0.20,43060.0,-0.7054,917312,39355,21575
4,102780,2,KODEX 삼성그룹,10570,2,35,0.33,10594.0,3.2033,254361,2680,18180

## 파일 저장
### 파일명 만들기

In [33]:
# 파이썬 표준라이브러리인 datetime을 불러옵니다.
# 날짜를 만들어 저장하기 위해 오늘 날짜를 구합니다.

import datetime

datetime.datetime.today().strftime("%Y-%m-%d")

'2021-07-28'

In [30]:
# f-string 방식으로 파일명을 만들어 줍니다.
# eft_날짜_raw.csv 형태로 만듭니다.
# file_name

### 파일로 저장하고 불러오기

In [35]:
# csv 형태로 저장합니다. index 가 저장되지 않도록 합니다.
df.to_csv('etf_list_0728.csv', index=False)

In [37]:
# 저장된 csv 파일을 읽어옵니다.
# itemcode 숫자 앞의 0 이 지워진다면 dtype={"itemcode": np.object} 로 타입을 지정해 주면 문자형태로 읽어옵니다.
df = pd.read_csv('etf_list_0728.csv', dtype={"itemcode": np.object} )
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,43005,2,130,0.30,43027.0,-0.7363,2409683,103245,41672
1,153130,6,KODEX 단기채권,102845,3,0,0.00,102846.0,0.0340,16993,1747,24206
2,252670,3,KODEX 200선물인버스2X,1930,5,-10,-0.52,1933.0,0.0000,208803439,405192,22070
3,102110,1,TIGER 200,43020,2,85,0.20,43060.0,-0.7054,917312,39355,21575
4,102780,2,KODEX 삼성그룹,10570,2,35,0.33,10594.0,3.2033,254361,2680,18180
...,...,...,...,...,...,...,...,...,...,...,...,...
484,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),5790,5,-60,-1.03,NaN,-11.8976,6161,35,26
485,287330,2,KBSTAR 200생활소비재,8880,2,30,0.34,8890.0,-1.7213,2235,19,21
486,334700,5,KBSTAR 팔라듐선물인버스(H),4545,2,75,1.68,NaN,5.1764,1855,8,18
487,287310,2,KBSTAR 200경기소비재,11835,5,-80,-0.67,11871.0,3.1691,323,3,17
488,287320,2,KBSTAR 200산업재,13370,2,30,0.22,13371.0,9.1653,3382,45,16