In [1]:
# 데이터 분석을 위해 pandas, 시각화를 위해 seaborn 불러오기
import pandas as pd
import seaborn as sns

## FinanceDataReader 로 수집한 전체 종목 불러오기
* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리
* FinanceData/FinanceDataReader: Financial data reader
* FinanceDataReader 사용자 안내서 | FinanceData
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

In [5]:
df = pd.read_csv("krx.csv")

### 일부데이터만 가져오기
{'회사명':'Name', '종목코드':'Symbol', '업종':'Sector', '주요제품':'Industry', '상장일':'ListingDate', '결산월':'SettleMonth', '대표자명':'Representative', '홈페이지':'HomePage', '지역':'Region', }

* 영문데이터와 함께 보기 위해, 컬럼명을 영문으로 바꿔준것

In [7]:
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [8]:
df.tail()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
7135,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7136,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7137,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7138,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7139,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [9]:
#랜덤하게 샘플 5개를 뽑아준다. # 기획자가 엑셀로 정보 받고 추첨 할 때 사용할 수 있다.
df.sample(5)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
4137,059100,KOSDAQ,아이컴포넌트,전자부품 제조업,액정평판디스플레이용 플라스틱 박판필름 제조업,2008-12-16,12월,김양국,NaN,경기도
5773,57G956,KOSPI,한국G956KOSPI200풋,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6331,57GJ48,KOSPI,한국GJ48삼성전자콜,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,55G324,KOSPI,NHG324카카오콜,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,190510,KOSDAQ,나무가,전자부품 제조업,"스마트폰 카메라모듈, 노트북 카메라모듈",2015-11-12,12월,원태연,http://www.namuga.co.kr,경기도

In [12]:
df.describe().loc[]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7140,7140,7140,2450,2431,2450,2450,2450,2270,2450
unique,7140,3,7140,160,2274,1808,9,2328,2249,22
top,57G945,KOSPI,현대모비스,특수 목적용 기계 제조업,기업인수합병,1996-07-03,12월,-,http://www.cheryong.co.kr,서울특별시
freq,1,5475,1,143,38,8,2390,5,2,991

In [14]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [15]:
#Name 컬럼 하나만 가져옵니다.
df["Name"]

0            3S
1        AJ네트웍스
2         AK홀딩스
3        APS홀딩스
4         AP시스템
         ...
7135    흥국화재2우B
7136      흥국화재우
7137       흥아해운
7138         희림
7139         힘스
Name: Name, Length: 7140, dtype: object

In [16]:
type(df["Name"])

pandas.core.series.Series

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
# 0번째 행만 가져옵니다. 행인덱스를 가져올때는 .loc를 사용합니다.
# loc는 위치(locate)를 의미합니다.
df.loc[0]

Symbol                          060310
Market                          KOSDAQ
Name                                3S
Sector                   특수 목적용 기계 제조업
Industry                   반도체 웨이퍼 캐리어
ListingDate                 2002-04-23
SettleMonth                        03월
Representative      박종익, 김세완 (각자 대표이사)
HomePage          http://www.3sref.com
Region                           서울특별시
Name: 0, dtype: object

In [34]:
# df 변수의 타입을 봅니다.
df.types()

AttributeError: 'DataFrame' object has no attribute 'types'

In [20]:
# 여러 컬럼을 지정할 때는 리스트 형태로 묶어주어야 합니다. 
# 2차원 행렬은 대괄호가 [] 2개가 있다는 것을 기억해 주세요. 

df[["Name", "Symbol"]]

         Name  Symbol
0          3S  060310
1      AJ네트웍스  095570
2       AK홀딩스  006840
3      APS홀딩스  054620
4       AP시스템  265520
...       ...     ...
7135  흥국화재2우B  000547
7136    흥국화재우  000545
7137     흥아해운  003280
7138       희림  037440
7139       힘스  238490

[7140 rows x 2 columns]

In [21]:
# 여러 개의 행을 가져올 때도 [] 대괄호를 통해 리스트 형태로 묶어줍니다.
df.loc[[0,1,2]]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시

In [24]:
# 행과 열 함께 가져오기
# .loc[행, 열]
df.loc[0,"Name"]

'3S'

In [25]:
# .loc[행, 열]
df.loc[0]["Name"]

'3S'

In [29]:
# %timeit
%timeit df.loc[0,'Name']


#한번에 인덱싱을 함

9.1 µs ± 737 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [30]:
# %timeit
%timeit df.loc[0]['Name']

#0을 찾은 다음에, Name을 찾음

89.8 µs ± 3.05 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [37]:
df.loc[0,1,2],"Name"]

SyntaxError: unmatched ']' (<ipython-input-37-43368af11486>, line 1)

In [32]:
# 여러개의 행과 여러 개의 컬럼 가져오기
# .loc[행, 열]
df.loc[0,1,2],"Name","Symbol"]

SyntaxError: unmatched ']' (<ipython-input-32-5242140351c2>, line 1)

### Boolean Indexing

In [41]:
# 카카오를 찾습니다.

df["Name"] == '카카오'

0       False
1       False
2       False
3       False
4       False
        ...
7135    False
7136    False
7137    False
7138    False
7139    False
Name: Name, Length: 7140, dtype: bool

In [ ]:
# 서울특별시에 소재지를 두고 있는 KOSPI 종목의 종목명과 심볼을 가져옵니다.
# .loc[행, 열]
# .loc[조건식, 열]
# df.loc[(df["Region"] == "서울특별시") & (df["Market"] == "KOSPI"), ["Symbol", "Name"]]


#시리즈 연산   
df["Region"] == "서울특별시"  # 이 부분에서는 시리즈와 문자열 비교 이지만 pandas에서는 가능함

In [39]:
df["Region"] == "서울특별시"  #스칼라 타입: 값 한개
df["Market"] == "K0SPI"   #불린 타입?

0       False
1       False
2       False
3       False
4       False
        ...
7135    False
7136    False
7137    False
7138    False
7139    False
Name: Market, Length: 7140, dtype: bool

In [46]:
# .loc[조건식, 열]
df.loc[(df["Region"] == "서울특별시") & (df["Market"] == "K0SPI"), "Name"]   # type다른 두개를 연결했기 때문에

Series([], Name: Name, dtype: object)

### 파생변수 만들기

In [48]:
# pd.to_datetime 을 통해 데이터의 타입을 변환합니다.
pd.to_datetime(df["ListingDate"])

0      2002-04-23
1      2015-08-21
2      1999-08-11
3      2001-12-04
4      2017-04-07
          ...
7135          NaT
7136          NaT
7137   1976-06-29
7138   2000-02-03
7139   2017-07-20
Name: ListingDate, Length: 7140, dtype: datetime64[ns]

In [50]:
df["ListingDate"] = pd.to_datetime(df["ListingDate"])
df["ListingDate"].head(1)

0   2002-04-23
Name: ListingDate, dtype: datetime64[ns]

In [51]:
# ListingYear 파생변수 만들기
df["ListingDate"] = df["ListingDate"].dt.year

In [52]:
# nan은 not a number의 약자로 결측치를 의미합니다.
type(np.nan)

NameError: name 'np' is not defined

In [53]:
df.head(1)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002.0,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시