In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터를 준비합니다.
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(path)
lemonade.head()

train = lemonade[['온도']]
test = lemonade[['판매량']]
print(train .shape, test.shape)

(6, 1) (6, 1)

In [ ]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
model.fit(train, test, epochs=10)

Epoch 1/10
1/1 [==============================] - 1s 1s/step - loss: 853.0161
Epoch 2/10
1/1 [==============================] - 0s 13ms/step - loss: 848.6693
Epoch 3/10
1/1 [==============================] - 0s 12ms/step - loss: 845.5266
Epoch 4/10
1/1 [==============================] - 0s 11ms/step - loss: 842.9016
Epoch 5/10
1/1 [==============================] - 0s 16ms/step - loss: 840.5759
Epoch 6/10
1/1 [==============================] - 0s 18ms/step - loss: 838.4485
Epoch 7/10
1/1 [==============================] - 0s 15ms/step - loss: 836.4629
Epoch 8/10
1/1 [==============================] - 0s 22ms/step - loss: 834.5838
Epoch 9/10
1/1 [==============================] - 0s 23ms/step - loss: 832.7879
Epoch 10/10
1/1 [==============================] - 0s 26ms/step - loss: 831.0586

In [9]:
# 모델을 학습시킵니다. 
model.fit(train, test, epochs=1000, verbose=0) # 1000을 출력하는 동안 화면 출력을 하지 않는다.

In [11]:
# 모델을 이용해서 독립변수가 종속변수에 맞게 답을 잘 예측하는지 확인합니다. 
print(model.predict(train))

[[40.09787 ]
 [42.056095]
 [44.014324]
 [45.972553]
 [47.93078 ]
 [49.889008]]
[[30.306732]]

In [12]:
test

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [ ]:
#15도 이면 몇개의 레몬에이드를 준비해야 하는 지 예측해 봅니다.
#각 값은 list
print(model.predict([[15]]))