## Collecting Individual Stock Data from Naver Finance
* Data Reference: Naver Finance website

## Load library

In [7]:
import pandas as pd
import numpy as np

## Determining the URLs to collect

In [8]:
# item_code = "005930"
# item_name = "하이브"
# 종목 URL 만들기 #종목코드 # page number
url = 'https://finance.naver.com/item/sise_day.nhn?code=005930&page=3'

## HTTP request using 'requests'
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)
* [Quickstart — Requests documentation # custom-headers](https://requests.readthedocs.io/en/latest/user/quickstart/#custom-headers)

In [9]:
import requests
requests.__version__

'2.24.0'

## To find the 'table' tag using BeautifulSoup

* [Beautiful Soup Documentation — Beautiful Soup 4.9.0 documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [15]:
from bs4 import BeautifulSoup as bs
# import bs4
# bs4.__version__

html = bs(response.text, 'lxml')

In [10]:
tables = html.select("table")
len(tables)

2

In [11]:
import tqdm
tqdm.__version__

'4.50.2'

## Data collection with pandas.

In [16]:
pd.read_html(url, encoding = 'cp949')

ValueError: No tables found

In [20]:
table = pd.read_html(str(tables))
table

[            날짜       종가     전일비       시가       고가       저가         거래량
 0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 1   2023.04.25  63600.0  1600.0  65300.0  65400.0  63400.0  16193271.0
 2   2023.04.24  65200.0   500.0  65300.0  65700.0  64800.0  12986581.0
 3   2023.04.21  65700.0   400.0  65800.0  65900.0  65400.0  10538622.0
 4   2023.04.20  65300.0   200.0  65100.0  65300.0  64600.0   9501169.0
 5   2023.04.19  65500.0   100.0  65500.0  65800.0  65300.0  10255985.0
 6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 9   2023.04.18  65600.0   300.0  65900.0  66000.0  64800.0  14802060.0
 10  2023.04.17  65300.0   200.0  65000.0  65600.0  64700.0  13486618.0
 11  2023.04.14  65100.0  1000.0  66600.0  66600.0  65000.0  16176490.0
 12  2023.04.13  66100.0   100.0  65600.0  66100.0  65400.0  15091022.0
 13  2023.04.12  66000.0   100.0  65800.0  66200.0  65300.0  15021313.0
 14         NaN      NaN     NaN      NaN      NaN      NaN         NaN,
    0   1   2   3   4   5   6   7   8   9   10  11  12
 0  맨앞   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

In [22]:
table[0]

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2023.04.25  63600.0  1600.0  65300.0  65400.0  63400.0  16193271.0
2   2023.04.24  65200.0   500.0  65300.0  65700.0  64800.0  12986581.0
3   2023.04.21  65700.0   400.0  65800.0  65900.0  65400.0  10538622.0
4   2023.04.20  65300.0   200.0  65100.0  65300.0  64600.0   9501169.0
5   2023.04.19  65500.0   100.0  65500.0  65800.0  65300.0  10255985.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2023.04.18  65600.0   300.0  65900.0  66000.0  64800.0  14802060.0
10  2023.04.17  65300.0   200.0  65000.0  65600.0  64700.0  13486618.0
11  2023.04.14  65100.0  1000.0  66600.0  66600.0  65000.0  16176490.0
12  2023.04.13  66100.0   100.0  65600.0  66100.0  65400.0  15091022.0
13  2023.04.12  66000.0   100.0  65800.0  66200.0  65300.0  15021313.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [32]:
# emoving rows with missing values.
temp = table[0].dropna()
temp

            날짜       종가     전일비       시가       고가       저가         거래량
1   2023.04.25  63600.0  1600.0  65300.0  65400.0  63400.0  16193271.0
2   2023.04.24  65200.0   500.0  65300.0  65700.0  64800.0  12986581.0
3   2023.04.21  65700.0   400.0  65800.0  65900.0  65400.0  10538622.0
4   2023.04.20  65300.0   200.0  65100.0  65300.0  64600.0   9501169.0
5   2023.04.19  65500.0   100.0  65500.0  65800.0  65300.0  10255985.0
9   2023.04.18  65600.0   300.0  65900.0  66000.0  64800.0  14802060.0
10  2023.04.17  65300.0   200.0  65000.0  65600.0  64700.0  13486618.0
11  2023.04.14  65100.0  1000.0  66600.0  66600.0  65000.0  16176490.0
12  2023.04.13  66100.0   100.0  65600.0  66100.0  65400.0  15091022.0
13  2023.04.12  66000.0   100.0  65800.0  66200.0  65300.0  15021313.0

## Creating a function for collecting data on a page-by-page basis.

In [25]:
print(url)

https://finance.naver.com/item/sise_day.nhn?code=005930&page=3

In [26]:
headers

{'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari/537.36'}

In [27]:

def get_day_list(item_code, page_no):

    url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"
    headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari/537.36'}
    response = requests.get(url, headers = headers)
    html = bs(response.text, 'lxml')
    tables = html.select("table")
    table =  pd.read_html(str(tables))
    df_page = table[0].dropna()
    return df_page

In [31]:

page_no = 22
item_code = '068270'
get_day_list(item_code, page_no)

            날짜        종가     전일비        시가        고가        저가       거래량
1   2022.07.20  184000.0   500.0  185000.0  186500.0  183000.0  242433.0
2   2022.07.19  183500.0   500.0  184000.0  186500.0  182500.0  223541.0
3   2022.07.18  183000.0  3500.0  187500.0  187500.0  180000.0  366865.0
4   2022.07.15  186500.0  2500.0  189500.0  189500.0  183000.0  389861.0
5   2022.07.14  189000.0  1000.0  190000.0  190500.0  186500.0  420165.0
9   2022.07.13  190000.0  2500.0  188500.0  193000.0  187500.0  513629.0
10  2022.07.12  187500.0  1500.0  187500.0  191500.0  185000.0  423296.0
11  2022.07.11  186000.0  3500.0  181500.0  187500.0  181500.0  344098.0
12  2022.07.08  182500.0  5000.0  187000.0  187000.0  178500.0  755595.0
13  2022.07.07  187500.0  1000.0  188000.0  189000.0  184500.0  369149.0

## Collecting complete date data using a loop.
* (Caution) When collecting data over a long period, please use time.sleep() to avoid overloading the server.

In [47]:
# web page Start# End#
start_no = 1
end_no = 10

item_list = []

for page_no in range(start_no, end_no): # range(1,10): # page 1-9
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)
item_list

[            날짜        종가     전일비        시가        고가        저가       거래량
 1   2023.05.25  173100.0  5900.0  178100.0  179000.0  173100.0  567187.0
 2   2023.05.24  179000.0   500.0  179100.0  180900.0  177500.0  454223.0
 3   2023.05.23  179500.0  1600.0  178400.0  180000.0  177500.0  348447.0
 4   2023.05.22  177900.0  4000.0  174000.0  179400.0  174000.0  511523.0
 5   2023.05.19  173900.0  1800.0  172100.0  174400.0  170800.0  383940.0
 9   2023.05.18  172100.0   300.0  171900.0  174500.0  170600.0  339923.0
 10  2023.05.17  171800.0  3700.0  167500.0  171900.0  167500.0  326890.0
 11  2023.05.16  168100.0   500.0  168000.0  171000.0  167600.0  285565.0
 12  2023.05.15  168600.0  2000.0  165500.0  170400.0  164500.0  403134.0
 13  2023.05.12  166600.0  2000.0  167800.0  169800.0  166400.0  301870.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2023.05.11  168600.0   400.0  170000.0  170800.0  167200.0   390534.0
 2   2023.05.10  169000.0  2800.0  171700.0  171800.0  168500.0   359298.0
 3   2023.05.09  171800.0  9400.0  165900.0  173700.0  165800.0  1127696.0
 4   2023.05.08  162400.0   600.0  163800.0  166000.0  162300.0   339420.0
 5   2023.05.04  163000.0  4000.0  158200.0  163600.0  158000.0   431607.0
 9   2023.05.03  159000.0  1400.0  157100.0  159500.0  153800.0   427626.0
 10  2023.05.02  160400.0   200.0  160700.0  161400.0  159100.0   341539.0
 11  2023.04.28  160600.0  2600.0  163200.0  165600.0  160200.0   468091.0
 12  2023.04.27  163200.0  2300.0  164500.0  165000.0  161600.0   387901.0
 13  2023.04.26  165500.0   100.0  165400.0  166900.0  164000.0   271855.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2023.04.25  165400.0  1100.0  167500.0  170000.0  164400.0   413710.0
 2   2023.04.24  166500.0  1700.0  167500.0  169000.0  165900.0   313818.0
 3   2023.04.21  168200.0   300.0  167500.0  170500.0  167200.0   347219.0
 4   2023.04.20  167900.0  2400.0  171000.0  172900.0  167300.0   442779.0
 5   2023.04.19  170300.0   700.0  170800.0  173400.0  169400.0   381718.0
 9   2023.04.18  171000.0  4500.0  173700.0  175900.0  170600.0   645282.0
 10  2023.04.17  175500.0   300.0  177900.0  177900.0  175000.0   464469.0
 11  2023.04.14  175800.0  4000.0  178900.0  180800.0  175200.0   661136.0
 12  2023.04.13  179800.0  1000.0  180200.0  184100.0  177700.0  1104388.0
 13  2023.04.12  178800.0  8000.0  171500.0  179800.0  170000.0  1362887.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2023.04.11  170800.0  6900.0  163900.0  172300.0  162500.0  1123744.0
 2   2023.04.10  163900.0  4400.0  159600.0  164900.0  159300.0   697393.0
 3   2023.04.07  159500.0     0.0  160400.0  161000.0  158100.0   364832.0
 4   2023.04.06  159500.0   900.0  160900.0  163000.0  159200.0   727285.0
 5   2023.04.05  158600.0   400.0  159300.0  163000.0  157500.0   713779.0
 9   2023.04.04  159000.0  9000.0  150000.0  159100.0  149400.0  1013981.0
 10  2023.04.03  150000.0   200.0  151400.0  154300.0  149700.0   675050.0
 11  2023.03.31  149800.0  1200.0  149000.0  150500.0  148600.0   360499.0
 12  2023.03.30  148600.0  1900.0  150600.0  151200.0  148200.0   571909.0
 13  2023.03.29  150500.0   700.0  152200.0  153100.0  149500.0   522536.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2023.03.28  151200.0  7400.0  159100.0  159800.0  150400.0  901079.0
 2   2023.03.27  158600.0  5000.0  153600.0  159400.0  151000.0  679992.0
 3   2023.03.24  153600.0   900.0  153500.0  156700.0  153100.0  367232.0
 4   2023.03.23  154500.0  1600.0  155900.0  156000.0  153500.0  395821.0
 5   2023.03.22  156100.0   100.0  156800.0  157200.0  155100.0  289918.0
 9   2023.03.21  156000.0  1900.0  158100.0  159400.0  155200.0  333364.0
 10  2023.03.20  157900.0  1400.0  156900.0  160500.0  156900.0  418037.0
 11  2023.03.17  156500.0  4900.0  152600.0  157100.0  151700.0  619666.0
 12  2023.03.16  151600.0   400.0  150000.0  152400.0  147500.0  340066.0
 13  2023.03.15  151200.0   300.0  152800.0  153500.0  150000.0  317958.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2023.03.14  150900.0  4500.0  153500.0  156200.0  150900.0   462108.0
 2   2023.03.13  155400.0   700.0  154200.0  156400.0  151300.0   414435.0
 3   2023.03.10  154700.0  2500.0  155000.0  156500.0  153200.0   459565.0
 4   2023.03.09  157200.0  2900.0  155800.0  158200.0  153800.0   765655.0
 5   2023.03.08  154300.0  1100.0  153800.0  158800.0  152000.0   903712.0
 9   2023.03.07  155400.0  3600.0  151900.0  158700.0  151200.0  1156965.0
 10  2023.03.06  151800.0  1200.0  152900.0  154000.0  149100.0   791350.0
 11  2023.03.03  150600.0  6900.0  144000.0  154600.0  144000.0  1467217.0
 12  2023.03.02  143700.0  1500.0  144900.0  145800.0  142500.0   575951.0
 13  2023.02.28  145200.0   800.0  145900.0  147400.0  144700.0   737854.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2023.02.27  146000.0  3300.0  147800.0  148300.0  145200.0  481473.0
 2   2023.02.24  149300.0   300.0  149000.0  149800.0  147400.0  484252.0
 3   2023.02.23  149000.0     0.0  149300.0  150300.0  148500.0  487140.0
 4   2023.02.22  149000.0  5800.0  152500.0  152800.0  148500.0  932833.0
 5   2023.02.21  154800.0  2200.0  157600.0  157700.0  153900.0  415054.0
 9   2023.02.20  157000.0  2300.0  154400.0  157700.0  153100.0  445422.0
 10  2023.02.17  154700.0  2600.0  156000.0  156100.0  154300.0  408825.0
 11  2023.02.16  157300.0   700.0  157000.0  158600.0  156400.0  466816.0
 12  2023.02.15  156600.0  4800.0  161200.0  161600.0  156500.0  620564.0
 13  2023.02.14  161400.0   300.0  161900.0  162300.0  160400.0  346673.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2023.02.13  161100.0  1300.0  162000.0  162200.0  160000.0  386779.0
 2   2023.02.10  162400.0  3200.0  164500.0  164600.0  161900.0  428930.0
 3   2023.02.09  165600.0  1400.0  166200.0  166800.0  165000.0  368888.0
 4   2023.02.08  167000.0   600.0  167000.0  168400.0  166500.0  238941.0
 5   2023.02.07  166400.0   100.0  165900.0  168800.0  165900.0  284848.0
 9   2023.02.06  166300.0  2800.0  168800.0  169600.0  166300.0  332938.0
 10  2023.02.03  169100.0   300.0  168400.0  169800.0  167400.0  264225.0
 11  2023.02.02  169400.0   400.0  172000.0  172000.0  167200.0  472038.0
 12  2023.02.01  169800.0  8200.0  161700.0  170200.0  161200.0  693790.0
 13  2023.01.31  161600.0  2100.0  163000.0  164000.0  161100.0  403867.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2023.01.30  163700.0  3100.0  167000.0  168900.0  163700.0  331470.0
 2   2023.01.27  166800.0  1500.0  165700.0  167500.0  164600.0  336316.0
 3   2023.01.26  165300.0   800.0  164100.0  165300.0  163300.0  304929.0
 4   2023.01.25  164500.0  2000.0  163000.0  165300.0  163000.0  200722.0
 5   2023.01.20  162500.0  1500.0  163500.0  164000.0  161500.0  242051.0
 9   2023.01.19  164000.0     0.0  162500.0  166000.0  162000.0  195569.0
 10  2023.01.18  164000.0   500.0  163500.0  164500.0  162000.0  211709.0
 11  2023.01.17  163500.0  4500.0  168000.0  168500.0  163000.0  330668.0
 12  2023.01.16  168000.0  1000.0  170000.0  170000.0  168000.0  154591.0
 13  2023.01.13  169000.0  1000.0  169000.0  172000.0  168500.0  278561.0]

In [61]:

item_code = '352820'
item_name = '하이브'

page_no =1

while True: 
    #수집함수
    temp =get_day_list(item_code,page_no)
    item_list.append(temp)
    
    #서버에 부담을 주지 않기 위해 시간차를 두고 가져옵니다.
    random_time = np.random.uniform(0.1, 0.5)
    time.sleep(random_time)
    
    # 페이지 번호를 하나씩 증가 시키고
    page_no = page_no +1
    
    # 5페이지 단위로 몇 페이지인지를 출력
    if page_no % 5 == 0 :
        print(page_no)
    
    # 일별시세는 10개씩 행이 있기 때문에 행이 10개보다 적으면 마지막 페이지로 보고 break
    if temp.shape[0] != 10:
        break

5
10
15
20
25
30
35
40
45
50
55
60
65



<img src="https://pandas.pydata.org/docs/_images/merging_concat_basic.png">

* [Merge, join, concatenate and compare documentation](https://pandas.pydata.org/docs/user_guide/merging.html#merge-join-concatenate-and-compare)

In [48]:

df = pd.concat(item_list)  #행이 기본이어서, axis를 따로 안해줘도 됨

In [49]:

df.head()

           날짜        종가     전일비        시가        고가        저가       거래량
1  2023.05.25  173100.0  5900.0  178100.0  179000.0  173100.0  567187.0
2  2023.05.24  179000.0   500.0  179100.0  180900.0  177500.0  454223.0
3  2023.05.23  179500.0  1600.0  178400.0  180000.0  177500.0  348447.0
4  2023.05.22  177900.0  4000.0  174000.0  179400.0  174000.0  511523.0
5  2023.05.19  173900.0  1800.0  172100.0  174400.0  170800.0  383940.0

In [50]:
df.tail()

            날짜        종가     전일비        시가        고가        저가       거래량
9   2023.01.19  164000.0     0.0  162500.0  166000.0  162000.0  195569.0
10  2023.01.18  164000.0   500.0  163500.0  164500.0  162000.0  211709.0
11  2023.01.17  163500.0  4500.0  168000.0  168500.0  163000.0  330668.0
12  2023.01.16  168000.0  1000.0  170000.0  170000.0  168000.0  154591.0
13  2023.01.13  169000.0  1000.0  169000.0  172000.0  168500.0  278561.0

## Add stock codes and stock names to a DataFrame and create derived variables

In [51]:
df["종목코드"] = item_code
df["종목명"]= item_name

In [52]:
df.head()

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2023.05.25,173100.0,5900.0,178100.0,179000.0,173100.0,567187.0,068270,SK바이오팜
2,2023.05.24,179000.0,500.0,179100.0,180900.0,177500.0,454223.0,068270,SK바이오팜
3,2023.05.23,179500.0,1600.0,178400.0,180000.0,177500.0,348447.0,068270,SK바이오팜
4,2023.05.22,177900.0,4000.0,174000.0,179400.0,174000.0,511523.0,068270,SK바이오팜
5,2023.05.19,173900.0,1800.0,172100.0,174400.0,170800.0,383940.0,068270,SK바이오팜

## Change the column order in a DataFrame

In [54]:
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

In [12]:
#컬럼 순서를 인덱싱 방법으로 바꿔준다.
cols = ['종목코드', '종목명','날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df[cols]

# df에 다시 담아주기
df=df[cols]

df.head()

NameError: name 'df' is not defined

## Removing duplicate data.

In [57]:

print(df.shape) 
df = df.drop_duplicates()
df.shape

(90, 9)

(90, 9)

## Calculating descriptive statistics

In [58]:

df.describe()

,종가,전일비,시가,고가,저가,거래량
count,90.000000,90.000000,90.000000,90.000000,90.000000,9.000000e+01
mean,161944.444444,2265.555556,161893.333333,164272.222222,159978.888889,5.036168e+05
std,8668.904926,2235.774562,8652.151775,8717.978683,8642.766599,2.624248e+05
min,143700.000000,0.000000,144000.000000,145800.000000,142500.000000,1.545910e+05
25%,155400.000000,600.000000,154550.000000,157700.000000,153100.000000,3.395458e+05
50%,162450.000000,1500.000000,162750.000000,164550.000000,161150.000000,4.147445e+05
75%,168175.000000,3175.000000,167725.000000,170350.000000,166475.000000,6.087372e+05
max,179800.000000,9400.000000,180200.000000,184100.000000,177700.000000,1.467217e+06

## Retrieve the most recent date and create a filename using

In [79]:
df.head(1)

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2021.07.28,262500.0,1000.0,263500.0,265000.0,262000.0,40790.0,352820,하이브

In [81]:

date = df.iloc[0, 0]
date

'2021.07.28'

In [82]:

file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'하이브_352820_2021.07.28.csv'

## Create a single function that encompasses the entire process

In [11]:

def get_day_list(item_code, page_no):
"""
일자별 시세를 페이지별로 수집
""" 

# 반복문
# 전처리
    df = pd.concat



# 파일저장
    for page_no in range(start_no,end_no+1):
        temp = get_day_list(item_code, page_no)
        item_list.append(temp)
        
    df = pd.concat(item_list)
    df['종목코드'] = item_code
    df['종목명']= item_name
    cols = ['종목코드', '종목명','날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]
    df = df.drop_duplicates()
    file_name = f"{item_name}_{item_code}_{date}.csv"
    
    df.to_csv(file_name, index =False)

IndentationError: expected an indented block (<ipython-input-11-82a8c4102368>, line 4)