* test ë°ì´í„°ì…‹ì—ëŠ” ë“±ë¡ì°¨ëŸ‰ìˆ˜ê°€ ì—†ë‹¤.
* ì œê³µëœ train ë°ì´í„°ì…‹ì„ ê°€ì§€ê³  í›ˆë ¨ì„ í•´ì•¼í•¨
* ğŸ  ìœ í˜•ë³„ ì„ëŒ€ì£¼íƒ ì„¤ê³„ ì‹œ ë‹¨ì§€ ë‚´ ì ì • ğŸ…¿ï¸ ì£¼ì°¨ ìˆ˜ìš”ë¥¼ ì˜ˆì¸¡

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [4]:
import pandas as pd
train = pd.read_csv("data/parking_demand/train_df_errno.csv") 
test = pd.read_csv("data/parking_demand/test_df.csv")
sub = pd.read_csv("data/parking_demand/sample_submission.csv")
age = pd.read_csv("data/parking_demand/age_gender_info.csv")
train.shape, test.shape, sub.shape, age.shape

((2896, 15), (1008, 14), (150, 2), (16, 23))

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë‹¨ì§€ì½”ë“œ        2896 non-null   object
 1   ì´ì„¸ëŒ€ìˆ˜        2896 non-null   int64
 2   ì„ëŒ€ê±´ë¬¼êµ¬ë¶„      2896 non-null   object
 3   ì§€ì—­          2896 non-null   object
 4   ê³µê¸‰ìœ í˜•        2896 non-null   object
 5   ì „ìš©ë©´ì         2896 non-null   float64
 6   ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜    2896 non-null   int64
 7   ê³µê°€ìˆ˜         2896 non-null   float64
 8   ìê²©ìœ í˜•        2896 non-null   object
 9   ì„ëŒ€ë³´ì¦ê¸ˆ       2327 non-null   object
 10  ì„ëŒ€ë£Œ         2327 non-null   object
 11  10ë¶„ë‚´ì§€í•˜ì² ìˆ˜    2685 non-null   float64
 12  10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜  2892 non-null   float64
 13  ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜     2896 non-null   float64
 14  ë“±ë¡ì°¨ëŸ‰ìˆ˜       2896 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 339.5+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë‹¨ì§€ì½”ë“œ        1008 non-null   object
 1   ì´ì„¸ëŒ€ìˆ˜        1008 non-null   int64
 2   ì„ëŒ€ê±´ë¬¼êµ¬ë¶„      1008 non-null   object
 3   ì§€ì—­          1008 non-null   object
 4   ê³µê¸‰ìœ í˜•        1008 non-null   object
 5   ì „ìš©ë©´ì         1008 non-null   float64
 6   ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜    1008 non-null   int64
 7   ê³µê°€ìˆ˜         1008 non-null   float64
 8   ìê²©ìœ í˜•        1006 non-null   object
 9   ì„ëŒ€ë³´ì¦ê¸ˆ       828 non-null    object
 10  ì„ëŒ€ë£Œ         828 non-null    object
 11  10ë¶„ë‚´ì§€í•˜ì² ìˆ˜    970 non-null    float64
 12  10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜  1008 non-null   float64
 13  ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜     1008 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 110.4+ KB

ê²°ì¸¡ì¹˜ê°€ ì–¼ë§ˆë‚˜ ë ê¹Œ?

In [7]:
train.isna().sum()

ë‹¨ì§€ì½”ë“œ            0
ì´ì„¸ëŒ€ìˆ˜            0
ì„ëŒ€ê±´ë¬¼êµ¬ë¶„          0
ì§€ì—­              0
ê³µê¸‰ìœ í˜•            0
ì „ìš©ë©´ì             0
ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜        0
ê³µê°€ìˆ˜             0
ìê²©ìœ í˜•            0
ì„ëŒ€ë³´ì¦ê¸ˆ         569
ì„ëŒ€ë£Œ           569
10ë¶„ë‚´ì§€í•˜ì² ìˆ˜      211
10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜      4
ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜         0
ë“±ë¡ì°¨ëŸ‰ìˆ˜           0
dtype: int64

In [8]:
test.isna().sum()

ë‹¨ì§€ì½”ë“œ            0
ì´ì„¸ëŒ€ìˆ˜            0
ì„ëŒ€ê±´ë¬¼êµ¬ë¶„          0
ì§€ì—­              0
ê³µê¸‰ìœ í˜•            0
ì „ìš©ë©´ì             0
ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜        0
ê³µê°€ìˆ˜             0
ìê²©ìœ í˜•            2
ì„ëŒ€ë³´ì¦ê¸ˆ         180
ì„ëŒ€ë£Œ           180
10ë¶„ë‚´ì§€í•˜ì² ìˆ˜       38
10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜      0
ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜         0
dtype: int64

In [9]:
train.head()

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜
0,C2515,545,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0

In [10]:
train['ì„ëŒ€ê±´ë¬¼êµ¬ë¶„'].unique()

array(['ì•„íŒŒíŠ¸', 'ìƒê°€'], dtype=object)

In [14]:
# ë‹¨ìˆœì„ í˜•íšŒê·€

sel = ['ì´ì„¸ëŒ€ìˆ˜']
X_train = train[sel]
X_test = test[sel]

y_train = train['ë“±ë¡ì°¨ëŸ‰ìˆ˜']

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model = LinearRegression() #ë¨¸ì‹ ëŸ¬ë‹
model.fit(X_train, y_train) #í›ˆë ¨ì‹œí‚¤ê² ë‹¤.
pred = model.predict(X_test) #ì´ì„¸ëŒ€ìˆ˜ë¥¼ ê°€ì§€ê³  y_testë¥¼ ì˜ˆì¸¡í•´ë´ 
pred

array([519.66988273, 519.66988273, 519.66988273, ..., 414.75241208,
       414.75241208, 414.75241208])

In [17]:
len(pred)

1008

In [18]:
#15ê°œë¥¼ ì œì¶œí•˜ë¼ê³  ë˜ì–´ ìˆìŒ
len(sub)

150

In [19]:
len(test['ë‹¨ì§€ì½”ë“œ'].unique())

#150ê°œë¥¼ ì œì¶œí•´ì•¼ í•˜ëŠ”ë°, 147ê°œë‹ˆê¹Œ, 3ê°œë¥¼ ì±„ì›Œì•¼ í•¨

147

In [20]:
import numpy as np

In [21]:
test['ë“±ë¡ì°¨ëŸ‰ìˆ˜'] = pred

test['ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê· '] = test.groupby('ë‹¨ì§€ì½”ë“œ')['ë“±ë¡ì°¨ëŸ‰ìˆ˜'].transform(np.mean)
test.head(10)

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜,ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê·
0,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0,519.669883,519.669883
1,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0,519.669883,519.669883
2,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0,519.669883,519.669883
3,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0,519.669883,519.669883
4,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0,519.669883,519.669883
5,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,51.71,51,14.0,H,43497000,296780,0.0,2.0,683.0,519.669883,519.669883
6,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,51.96,198,14.0,H,43497000,296780,0.0,2.0,683.0,519.669883,519.669883
7,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,51.96,67,14.0,H,43497000,296780,0.0,2.0,683.0,519.669883,519.669883
8,C1128,1354,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,39.79,368,9.0,H,22830000,189840,0.0,3.0,1216.0,688.891610,688.891610
9,C1128,1354,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,39.79,30,9.0,H,22830000,189840,0.0,3.0,1216.0,688.891610,688.891610

In [22]:
#ì¤‘ë³µë˜ëŠ” ê±° ë¹¼ê³ , ë‹¤ì‹œ index ì •ë ¬í•œë‹¤ìŒì—, test_newë¥¼ ë¶ˆëŸ¬ì˜¨ë‹¤. 
test_new = test.drop_duplicates(['ë‹¨ì§€ì½”ë“œ'], keep='first').reset_index()
test_new

,index,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜,ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê·
0,0,C1072,754,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0,519.669883,519.669883
1,8,C1128,1354,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,39.79,368,9.0,H,22830000,189840,0.0,3.0,1216.0,688.891610,688.891610
2,17,C1456,619,ì•„íŒŒíŠ¸,ë¶€ì‚°ê´‘ì—­ì‹œ,êµ­ë¯¼ì„ëŒ€,33.40,82,18.0,A,19706000,156200,0.0,16.0,547.0,481.594994,481.594994
3,26,C1840,593,ì•„íŒŒíŠ¸,ì „ë¼ë¶ë„,êµ­ë¯¼ì„ëŒ€,39.57,253,7.0,A,14418000,108130,0.0,3.0,543.0,474.262053,474.262053
4,30,C1332,1297,ì•„íŒŒíŠ¸,ê²½ê¸°ë„,êµ­ë¯¼ì„ëŒ€,39.99,282,11.0,H,28598000,203050,0.0,2.0,1112.0,672.815546,672.815546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,982,C2456,349,ì•„íŒŒíŠ¸,ì œì£¼íŠ¹ë³„ìì¹˜ë„,êµ­ë¯¼ì„ëŒ€,26.44,24,17.0,H,6992000,117000,0.0,4.0,270.0,405.445217,405.445217
143,986,C1266,596,ì•„íŒŒíŠ¸,ì¶©ì²­ë¶ë„,êµ­ë¯¼ì„ëŒ€,26.94,164,35.0,H,8084000,149910,0.0,1.0,593.0,475.108161,475.108161
144,991,C2152,120,ì•„íŒŒíŠ¸,ê°•ì›ë„,ì˜êµ¬ì„ëŒ€,24.83,66,9.0,C,-,-,0.0,1.0,40.0,340.858925,340.858925
145,993,C1267,675,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,24.87,28,38.0,H,6882000,104370,0.0,1.0,467.0,497.389022,497.389022
146,1004,C2189,382,ì•„íŒŒíŠ¸,ì „ë¼ë¶ë„,êµ­ë¯¼ì„ëŒ€,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0,414.752412,414.752412

In [23]:
#ìš°ë¦¬ëŠ” ì œì¶œì„ í•´ì•¼ í•˜ë‹ˆê¹Œ, ë‹¤ í•„ìš”í•œê²Œ ì•„ë‹ˆë¼, 'ë‹¨ì§€ì½”ë“œ', 'ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê· 'ë§Œ í•„ìš”í•˜ë‹¤. 

sub_df = test_new[ ['ë‹¨ì§€ì½”ë“œ', 'ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê· ']]
sub_df.columns = ['code', 'num']   #ì œì¶œìš©ì—ëŠ” ì´ë¦„ì´ 'code', 'num' ë˜ì–´ ìˆìœ¼ë‹ˆê¹Œ, ë°”ê¿”ì£¼ê³  
sub_df


# 147ë°ì´í„° ë°–ì— ì—†ìœ¼ë‹ˆê¹Œ 3ê°œë¥¼ ì²˜ë¦¬í•´ì„œ ë‹¤ì‹œí•´ ì¤˜ì•¼ í•¨ (ì•„ë˜ì´ì–´ì„œ)

      code         num
0    C1072  519.669883
1    C1128  688.891610
2    C1456  481.594994
3    C1840  474.262053
4    C1332  672.815546
..     ...         ...
142  C2456  405.445217
143  C1266  475.108161
144  C2152  340.858925
145  C1267  497.389022
146  C2189  414.752412

[147 rows x 2 columns]

In [24]:
# ì €ì¥íˆê¸°
sub_df.to_csv('baseline_0712.csv', index=False)

In [25]:
#CSV íŒŒì¼ì´ ì˜ ì €ì¥ë˜ì—ˆëŠ”ì§€, íŒŒì¼ í™•ì¸
import os
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '1c9f6c2fec1253ee7a32-f59aca233936337abe1a5509b42b20ade9217041',
 '1st_íŒ€í”Œ',
 '2021-04-19-lení•¨ìˆ˜ì™€ count í•¨ìˆ˜.ipynb',
 '2nd_íŒ€í”Œ',
 'age_gender_info.csv',
 'baseline_0712.csv',
 'baseline_0712_1st.csv',
 'cache',
 'chromedriver_90.exe',
 'CL02_02_04_MovieComment.html',
 'D2Coding.ttf',
 'data',
 'gangbuk_pharmacy.html',
 'Jupm to python_practice_Chapter.02.ipynb',
 'Jupm to python_practice_Chapter.04.ipynb',
 'malgun.ttf',
 'map.html',
 'Plugins_1.html',
 'sample_submission.csv',
 'seoul_muncipalities_geo.json',
 'skorea-municipalities-geo-simple.json',
 'South_Korea.html',
 'suwon_cctv.html',
 'test.csv',
 'third_rf_0714.csv',
 'TL_SCCO_CTPRVN.json',
 'train.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled3.ipynb',
 '[ê³¼ì œ]ì½”ë“œë¼ì´ì–¸_210622_naver finance Top ì¢…ëª©.ipynb',
 '[ì½”ë“œë¼ì´ì–¸]&[ì í”„íˆ¬ íŒŒì´ì¬]_íŒŒì¼ ìƒì„±, ì½ê³  ì“°ê¸°.ipynb',
 '[ì½”ë“œë¼ì´ì–¸]_ë³µìŠµë…¸íŠ¸.ipynb',
 'ê³¼ì œ',
 'ì„ ëª¨ì–‘ ì—°ìŠµ.ipynb',
 'ì„ë™ì¡° ê°•ì‚¬ë‹˜ ë¦¬ë·° ì½”ë“œ',
 'ì½”ë“œë¼ì´ì–¸_0609_ê³„ì‚°ê¸°.ipynb',
 'ì½”ë“œë¼ì´ì–¸_0609_ì˜ˆì™¸ì²˜ë¦¬exception.ipynb',
 'ì½”ë“œë¼ì´ì–¸_200617_naver_movie_ìŠ¤íŒŒì´ë”ë§¨.ipynb',
 'ì½”ë“œë¼ì´ì–¸_210618_selenium.ipynb',
 'ì½”ë“œë¼ì´ì–¸_210628_tips & iris ì‹¤ìŠµ.ipynb',
 'ì½”ë“œë¼ì´ì–¸_210629_folium.ipynb',
 'ì½”ë“œë¼ì´ì–¸_210629_ìº˜ë¦¬í¬ë‹ˆì•„ ì£¼íƒ ê°€ê²© EDA.ipynb',
 'ì½”ë“œë¼ì´ì–¸_210702_tips ì‹¤ìŠµë¬¸ì œ.ipynb',
 'ì½”ë“œë¼ì´ì–¸_210719.ipynb',
 'ì½”ë“œë¼ì´ì–¸_DACON_1st model_210712.ipynb',
 'ì½”ë“œë¼ì´ì–¸_DACON_2nd model_210712.ipynb',
 'ì½”ë“œë¼ì´ì–¸_DACON_ë‚˜ì˜ ì²« ëª¨ë¸ ë§Œë“¤ê¸°_Parking_210714.ipynb',
 'ì½”ë“œë¼ì´ì–¸_matplotlib ë‹¤ì–‘í•œ ê·¸ë˜í”„.ipynb',
 'ì½”ë“œë¼ì´ì–¸_matplotlib, seaborn_(iris,tips)_210623.ipynb',
 'ì½”ë“œë¼ì´ì–¸_Pandas_20210624.ipynb',
 'ì½”ë“œë¼ì´ì–¸_sepì™€ end.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ë¨¸ì‹ ëŸ¬ë‹ ê¸°ë³¸_210713.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ë¨¸ì‹ ëŸ¬ë‹ ê¸°ë³¸_ì§€ë„í•™ìŠµ - knn_210713.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ëª¨ë“ˆ.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì„ í˜•ëª¨ë¸ - linear model_210714.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì„ í˜•ëª¨ë¸ - linear model_ë¦¿ì§€,ë¼ì†Œ_ë³´ìŠ¤í„´ ì§‘ê°’_210714.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì•„ë§ˆì¡´ ë¦¬ë·° ë°ì´í„° ë¶„ì„_ì‹¤ìŠµ_20210621.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì•„ë§ˆì¡´ë°ì´í„°_ê²€ìƒ‰ì°½_20210621.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì•™ìƒë¸” ê¸°ë²•- RandomForest_20210716.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì•™ìƒë¸” ê¸°ë²•_210716.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì˜¥ì…˜_20210621.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì™¸ë¶€ íŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ ë°ì´í„° ì²˜ë¦¬_DACON_parking demand_210716.ipynb',
 'ì½”ë“œë¼ì´ì–¸_ì¼ë‹¨ ë§Œë“œëŠ” PYTHON.ipynb',
 'ì½”ë“œë¼ì´ì–¸_íŒ€í”„ë¡œì íŠ¸_êµ­ë‚´ì½”ë¡œë‚˜í˜„í™©ì‹œê°í™”_20210622.ipynb',
 'ì½”ë“œë¼ì´ì–¸_í•¨ìˆ˜.ipynb']

In [29]:
sub_df.shape

(147, 2)

### ì œì¶œìš© ì˜¤ë¥˜ ì½”ë“œë¥¼ ì œì¶œì„ ìœ„í•´ 3ê°œ ê°’ì„ 0ìœ¼ë¡œ ë§Œë“¤ê³  ì¶”ê°€Â¶

In [30]:
# 3ê°œ ë°ì´í„° ë” í•˜ê¸° 
# keyì™€ value í˜•íƒœë¡œ 
add_dat = {'code':['C2675', 'C2335', 'C1327'],
           'num':['0', '0', '0']}
add_df = pd.DataFrame(add_dat)
add_df

#concetìœ¼ë¡œ ë‘ dfë¥¼ í•©ì³ì¤Œ
sub_df = pd.concat([sub_df, add_df]).reset_index()
sub_df = sub_df.drop(['index'], axis=1)
sub_df.to_csv('third_rf_0714.csv', index=False)
sub_df

      code      num
0    C1072   519.67
1    C1128  688.892
2    C1456  481.595
3    C1840  474.262
4    C1332  672.816
..     ...      ...
145  C1267  497.389
146  C2189  414.752
147  C2675        0
148  C2335        0
149  C1327        0

[150 rows x 2 columns]

### ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [31]:
test.isnull().sum()

#ë¨¼ì € ì œì¼ ì ì€ ìê²©ìœ í˜•ì„ ì²˜ë¦¬í•˜ì!

ë‹¨ì§€ì½”ë“œ            0
ì´ì„¸ëŒ€ìˆ˜            0
ì„ëŒ€ê±´ë¬¼êµ¬ë¶„          0
ì§€ì—­              0
ê³µê¸‰ìœ í˜•            0
ì „ìš©ë©´ì             0
ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜        0
ê³µê°€ìˆ˜             0
ìê²©ìœ í˜•            2
ì„ëŒ€ë³´ì¦ê¸ˆ         180
ì„ëŒ€ë£Œ           180
10ë¶„ë‚´ì§€í•˜ì² ìˆ˜       38
10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜      0
ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜         0
ë“±ë¡ì°¨ëŸ‰ìˆ˜           0
ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê·         0
dtype: int64

### ìê²©ìœ í˜• ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [32]:
# ìê²©ìœ í˜•ì˜ ê²°ì¸¡ì¹˜ë§Œ í™•ì¸í•˜ê³  ì‹¶ì„ ë•Œ
test.loc[test['ìê²©ìœ í˜•'].isnull()]

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜,ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê·
196,C2411,962,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0,578.333415,578.333415
258,C2253,1161,ì•„íŒŒíŠ¸,ê°•ì›ë„,ì˜êµ¬ì„ëŒ€,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0,634.458621,634.458621

In [33]:
grouped = test.groupby(['ë‹¨ì§€ì½”ë“œ', 'ì„ëŒ€ê±´ë¬¼êµ¬ë¶„', 'ì§€ì—­','ê³µê¸‰ìœ í˜•'])
group1 = grouped.get_group( ('C2411', 'ì•„íŒŒíŠ¸', 'ê²½ìƒë‚¨ë„', 'êµ­ë¯¼ì„ëŒ€'))
group1

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜,ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê·
193,C2411,962,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,39.43,56,25.0,A,11992000,100720,0.0,2.0,840.0,578.333415,578.333415
194,C2411,962,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,39.72,336,25.0,A,11992000,100720,0.0,2.0,840.0,578.333415,578.333415
195,C2411,962,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,39.82,179,25.0,A,11992000,100720,0.0,2.0,840.0,578.333415,578.333415
196,C2411,962,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0,578.333415,578.333415
197,C2411,962,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,51.93,150,25.0,A,21586000,171480,0.0,2.0,840.0,578.333415,578.333415

In [34]:
test.loc[ 196, "ìê²©ìœ í˜•"] = 'A'

In [35]:
group2 = grouped.get_group( ('C2253', 'ì•„íŒŒíŠ¸', 'ê°•ì›ë„', 'ì˜êµ¬ì„ëŒ€')  )
group2

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜,ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê·
258,C2253,1161,ì•„íŒŒíŠ¸,ê°•ì›ë„,ì˜êµ¬ì„ëŒ€,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0,634.458621,634.458621
259,C2253,1161,ì•„íŒŒíŠ¸,ê°•ì›ë„,ì˜êµ¬ì„ëŒ€,31.32,239,0.0,C,3731000,83020,0.0,2.0,173.0,634.458621,634.458621
260,C2253,1161,ì•„íŒŒíŠ¸,ê°•ì›ë„,ì˜êµ¬ì„ëŒ€,31.32,149,0.0,C,3731000,83020,0.0,2.0,173.0,634.458621,634.458621

In [36]:
test.loc[ 258, "ìê²©ìœ í˜•"] = 'C'

In [37]:
test.isnull().sum()

ë‹¨ì§€ì½”ë“œ            0
ì´ì„¸ëŒ€ìˆ˜            0
ì„ëŒ€ê±´ë¬¼êµ¬ë¶„          0
ì§€ì—­              0
ê³µê¸‰ìœ í˜•            0
ì „ìš©ë©´ì             0
ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜        0
ê³µê°€ìˆ˜             0
ìê²©ìœ í˜•            0
ì„ëŒ€ë³´ì¦ê¸ˆ         180
ì„ëŒ€ë£Œ           180
10ë¶„ë‚´ì§€í•˜ì² ìˆ˜       38
10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜      0
ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜         0
ë“±ë¡ì°¨ëŸ‰ìˆ˜           0
ì½”ë“œë³„ì°¨ëŸ‰ìˆ˜í‰ê·         0
dtype: int64

### 10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [38]:
train.isnull().sum()

ë‹¨ì§€ì½”ë“œ            0
ì´ì„¸ëŒ€ìˆ˜            0
ì„ëŒ€ê±´ë¬¼êµ¬ë¶„          0
ì§€ì—­              0
ê³µê¸‰ìœ í˜•            0
ì „ìš©ë©´ì             0
ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜        0
ê³µê°€ìˆ˜             0
ìê²©ìœ í˜•            0
ì„ëŒ€ë³´ì¦ê¸ˆ         569
ì„ëŒ€ë£Œ           569
10ë¶„ë‚´ì§€í•˜ì² ìˆ˜      211
10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜      4
ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜         0
ë“±ë¡ì°¨ëŸ‰ìˆ˜           0
dtype: int64

In [39]:
train.loc[train['10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜'].isnull()]

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜
2293,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),74.97,80,15.0,A,46000000,456000,NaN,NaN,1066.0,1214.0
2294,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.95,124,15.0,A,57000000,462000,NaN,NaN,1066.0,1214.0
2295,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.96,289,15.0,A,57000000,462000,NaN,NaN,1066.0,1214.0
2296,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.98,82,15.0,A,57000000,462000,NaN,NaN,1066.0,1214.0

In [44]:
# grouped = train.groupby(['ë‹¨ì§€ì½”ë“œ', 'ì§€ì—­'])
# group1 = grouped.get_group( ('N2431', 'ê²½ìƒë‚¨ë„')  )
# group1

grouped = train.groupby(['ë‹¨ì§€ì½”ë“œ'])
group1 = grouped.get_group( ('N2431')  )
group1

# '10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜'ì˜ ê²°ì¸¡ì¹˜(NaN)ê°€ 4ê°œì¸ì¤„ ì•Œì•˜ëŠ”ë°, groupedí•´ì„œ 'ë‹¨ì§€ì½”ë“œ'ë¥¼ ì‚´í´ ë³´ë‹ˆê¹Œ 'N2431'ì˜ ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜ëŠ” '2'ì„ì„ í™•ì¸!!

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜
2293,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),74.97,80,15.0,A,46000000,456000,NaN,2.0,1066.0,1214.0
2294,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.95,124,15.0,A,57000000,462000,NaN,2.0,1066.0,1214.0
2295,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.96,289,15.0,A,57000000,462000,NaN,2.0,1066.0,1214.0
2296,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.98,82,15.0,A,57000000,462000,NaN,2.0,1066.0,1214.0
2350,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,36.77,272,16.0,A,11217000,233330,0.0,2.0,1066.0,1214.0
2351,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,46.78,200,16.0,A,24389000,303220,0.0,2.0,1066.0,1214.0

In [45]:
# ë°ì´í„° í™•ì¸ í›„, MaNê°’ 2ë¡œ ë„£ì–´ì£¼ê¸° 
train['10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜']=train['10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜'].fillna(2.0)
group1


# # grouped_2 = train.groupby(['ì„ëŒ€ê±´ë¬¼êµ¬ë¶„', 'ì§€ì—­','ê³µê¸‰ìœ í˜•', 'ìê²©ìœ í˜•'])
# # group2 = grouped_2.get_group( ('ì•„íŒŒíŠ¸', 'ê²½ìƒë‚¨ë„', 'ê³µê³µì„ëŒ€(10ë…„)', 'A')  )
# # group2
# # # ë°ì´í„° í™•ì¸ í›„, ì„ì˜ ì²˜ë¦¬ 4
# # train.loc[ train['10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜'].isnull(), "10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜"] = 5
# # train.loc[ train['10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜'].isnull(), :]

,ë‹¨ì§€ì½”ë“œ,ì´ì„¸ëŒ€ìˆ˜,ì„ëŒ€ê±´ë¬¼êµ¬ë¶„,ì§€ì—­,ê³µê¸‰ìœ í˜•,ì „ìš©ë©´ì,ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜,ê³µê°€ìˆ˜,ìê²©ìœ í˜•,ì„ëŒ€ë³´ì¦ê¸ˆ,ì„ëŒ€ë£Œ,10ë¶„ë‚´ì§€í•˜ì² ìˆ˜,10ë¶„ë‚´ë²„ìŠ¤ì •ë¥˜ì¥ìˆ˜,ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜,ë“±ë¡ì°¨ëŸ‰ìˆ˜
2293,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),74.97,80,15.0,A,46000000,456000,NaN,2.0,1066.0,1214.0
2294,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.95,124,15.0,A,57000000,462000,NaN,2.0,1066.0,1214.0
2295,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.96,289,15.0,A,57000000,462000,NaN,2.0,1066.0,1214.0
2296,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,ê³µê³µì„ëŒ€(10ë…„),84.98,82,15.0,A,57000000,462000,NaN,2.0,1066.0,1214.0
2350,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,36.77,272,16.0,A,11217000,233330,0.0,2.0,1066.0,1214.0
2351,N2431,1047,ì•„íŒŒíŠ¸,ê²½ìƒë‚¨ë„,êµ­ë¯¼ì„ëŒ€,46.78,200,16.0,A,24389000,303220,0.0,2.0,1066.0,1214.0

###  ë¼ë²¨ì¸ì½”ë”©-ìê²©ìœ í˜•ì— ëŒ€í•´ì„œ

In [96]:
print(train.ìê²©ìœ í˜•.unique())
print(test.ìê²©ìœ í˜•.unique())

mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5,
            'F':6, 'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }

train['ìê²©ìœ í˜•'] =train['ìê²©ìœ í˜•'].map(mapping).astype(int)
test['ìê²©ìœ í˜•'] =test['ìê²©ìœ í˜•'].map(mapping).astype(int)

train.head(3)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
[ 8  1  5  3  4  7  9 10 11 12 13 14]

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [92]:
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.model_selection import train_test_split

In [93]:
sel = ['ì´ì„¸ëŒ€ìˆ˜', 'ì „ìš©ë©´ì ', 'ì „ìš©ë©´ì ë³„ì„¸ëŒ€ìˆ˜',
       'ê³µê°€ìˆ˜',  'ë‹¨ì§€ë‚´ì£¼ì°¨ë©´ìˆ˜', 'ìê²©ìœ í˜•']
X = train[sel]
y = train['ë“±ë¡ì°¨ëŸ‰ìˆ˜']

In [114]:
# ë°ì´í„° ë‚˜ëˆ„ê¸°
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                   random_state=0)

In [115]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

In [116]:
print("í•™ìŠµ(score) :", model.score(X_train, y_train) ) # ê²°ì •ê³„ìˆ˜
print("í…ŒìŠ¤íŠ¸(score) :", model.score(X_test, y_test) ) # ê²°ì •ê³„ìˆ˜
# mae
np.mean( np.abs(y_test - pred)  )
# mse
mse_val = np.mean( (y_test - pred)**2  )
mse_val
# rmse
np.sqrt(  mse_val )

í•™ìŠµ(score) : 0.7848278438379498
í…ŒìŠ¤íŠ¸(score) : 0.7841937560157191

208.9042080311598