In [1]:

import numpy as np #딥러닝 관련 라이브러리 불러오는 것 
import pandas as pd 

import os  #시스템 관련 라이브러리 불러 오는 것 
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('/kaggle/input/titanic/train.csv')
test = pd.read_csv('/kaggle/input/titanic/test.csv')
sub = pd.read_csv('/kaggle/input/titanic/gender_submission.csv')
train.shape, test.shape,

((891, 12), (418, 11))

In [4]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [7]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [8]:
train['Embarked'] = train['Embarked'].fillna('S')

In [9]:
test['Fare'].value_counts()

7.7500      21
26.0000     19
8.0500      17
13.0000     17
7.8958      11
            ..
31.6833      1
16.0000      1
53.1000      1
146.5208     1
20.2500      1
Name: Fare, Length: 169, dtype: int64

In [10]:
Fare_mean = test['Fare'].mean()  # 변수 하나 새로 만들기 
test['Fare'] = test['Fare'].fillna(Fare_mean) # 괄호안의 값으로 결측치를 채워 주겠다

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [12]:
train.loc[train['Cabin'].isna(), 'Cabin_bool'] = 1
train.loc[~train['Cabin'].isna(), 'Cabin_bool'] = 0   # ~ 반대 의미

In [13]:
test.loc[test['Cabin'].isna(), 'Cabin_bool'] = 1
test.loc[~test['Cabin'].isna(), 'Cabin_bool'] = 0

### 타이틀을 숫자로 변경해 주기

In [14]:
train.Name
#특징을 찾아 보자 >> Mrs,Mr.....

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [15]:
all_df= [train,test] #리스트는 for문으로 돌릴 수 있다

for one in all_df:
    one['Title']= one.Name.str.extract(' ([A-Za-z]+)\.', expand=False) # + 여러문자가 반복된다.
    
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_bool,Title
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1.0,Mr
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1.0,Mrs
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1.0,Mr
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1.0,Mr
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1.0,Mrs

In [16]:
#원하는 것만 뽑아낸느 방법1
train['Title'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'Countess',
       'Jonkheer'], dtype=object)

In [17]:
#원하는 것만 뽑아낸느 방법2
train['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Major         2
Mlle          2
Ms            1
Don           1
Capt          1
Lady          1
Jonkheer      1
Mme           1
Countess      1
Sir           1
Name: Title, dtype: int64

In [18]:
for dataset in all_df:
    # 내부적으로 dataset에 title을 변경할거야. lady~~Dona는 'Rare' 으로,,,,
    dataset['Title']= dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
   'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')     
    
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
train.head()  # 꼭 변경이 잘 되었는지 확인하기!!!

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_bool,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1.0,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.0,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.0,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1.0,Mr

In [19]:
test['Title'].value_counts()

Mr        240
Miss       79
Mrs        72
Master     21
Rare        6
Name: Title, dtype: int64

In [20]:
#원하는 것만 뽑아낸느 방법3
train.groupby('Title')

In [21]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
all_df = [train, test]
for dataset in all_df:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_bool,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1.0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.0,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.0,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1.0,1

In [22]:
# [코드1~3] 은 결측치 다 처리 된 맨 마지막에 모델 만들기 전에 해준다.
# [코드1]
#결측치 처리 된것만 여기에 쓰기 


# sel = ['Pclass', 'SibSp', 'Parch', 'Cabin_bool', 'Title', 'Age']
# X_train = train[sel] 
# X_test = test[sel]
# y_train = train['Survived']

# from sklearn.tree import DecisionTreeClassifier
# decisiontree = DecisionTreeClassifier()
# decisiontree.fit(X_train, y_train)
# # 예측
# pred = decisiontree.predict(X_test)
# pred[:15]

### SibSp, Parch를 이용해서 FamilySize라는 특징(feature)만들기
* sibsp : 함께 탑승한 형제 또는 배우자 수
  - 0~1: sm
  - 2이상: lar
* parch : 함께 탑승한 부모 또는 자녀 수
  - 0~1: sm
  - 2이상: lar

In [23]:
# 초기 : 0.76555
# Title과 Ticket 추가 후 : 0.75598
# Title과 Ticket 간소화 후 : 0.75119
# -> Familysize 추가 후 : 0.75119
    
# # Title
# name = []
# for i in train['Name']:
#     name_tmp = i.split(', ')[1]
#     name_tmp = name_tmp.split(' ')[0]
#     name.append(name_tmp)
# name_ser = pd.Series(name)    
# name_ser, name_ser.unique()

In [24]:
# for idx, one in enumerate(name):
#     if one == 'Mr.': name[idx] = 0 
#     elif one == 'Ms.' or one == 'Mrs.' or one == 'Miss.': name[idx] = 1 
#     elif one == 'Master.': name[idx] = 2 
#     elif one == 'Rev.': name[idx] = 3 
#     elif one == 'Dr.': name[idx] = 4 
#     elif one == 'Major.': name[idx] = 5 
#     elif one == 'Col.': name[idx] = 6 
#     else: name[idx] = 7

In [25]:
# # Ticket
# ticket = []
# for i in train['Ticket']:
#     temp = i.split(' ')
#     if len(temp) == 2:
#         ticket.append(temp[0])
#     else:
#         ticket.append('')
# ticket = pd.Series(ticket)
# ticket.unique()

In [26]:
# for idx, one in enumerate(ticket):
#     if one == 'A/5' or one == 'A/5.' or one == 'A./5.' or one == 'A.5.': ticket[idx] = 1 
#     elif one == 'PC': ticket[idx] = 2 
#     elif one == 'C.A.' or one == 'CA' or one == 'CA.': ticket[idx] = 3 
#     elif one == 'SC/Paris' or one == 'SC/PARIS' or one == 'S.C./PARIS': ticket[idx] = 4 
#     elif one == 'A/4.' or one == 'A4.' or one == 'A/4': ticket[idx] = 5 
#     elif one == 'W./C.' or one == 'W/C': ticket[idx] = 6
#     elif one == 'SOTON/OQ' or one == 'SOTON/O.Q.' or one == 'SOTON/O2': ticket[idx] = 7 
#     elif one == 'C': ticket[idx] = 8 
#     elif one == 'F.C.C.': ticket[idx] = 9 
#     elif one == 'S.O./P.P.': ticket[idx] = 10 
#     else: ticket[idx] = 0

In [27]:
# # Family_size
# train['Family_size'] = train['SibSp'] + train['Parch'] + 1   # +1 : 본인 수 포함
# test['Family_size'] = test['SibSp'] + test['Parch'] + 1

### Age

In [28]:
train.shape, test.shape  #두개의 행과 열이 다름을 확인

((891, 14), (418, 13))

In [29]:
#pandas에서 두개의 데이터를 연결시키고 싶다. 그런데, 공통되는 컬럼만 연결시키고 싶다
all_titanic = pd.concat([train, test], join ='inner')
all_titanic.shape,  all_titanic.columns

((1309, 13),
 Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
        'Ticket', 'Fare', 'Cabin', 'Embarked', 'Cabin_bool', 'Title'],
       dtype='object'))

In [30]:
all_titanic.shape

(1309, 13)

In [31]:
all_titanic.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_bool,Title
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1.0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.0,3
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0,2
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0.0,3
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1.0,1

In [32]:
#Age 결측치 처리 먼저 해주기
all_titanic['Age'] = all_titanic['Age'].fillna(all_titanic['Age'].mean())
all_titanic

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_bool,Title
0,1,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,1.0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,0.0,3
2,3,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0,2
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,0.0,3
4,5,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,29.881138,0,0,A.5. 3236,8.0500,NaN,S,1.0,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,C105,C,0.0,5
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1.0,1
416,1308,3,"Ware, Mr. Frederick",male,29.881138,0,0,359309,8.0500,NaN,S,1.0,1
417,1309,3,"Peter, Master. Michael J",male,29.881138,1,1,2668,22.3583,NaN,C,1.0,4

In [33]:
# qcut(콘켓) 라는 함수를 이용해서,train과 test에서 동일하게 있는 컬럼만 가져온다.
# 따라서 train에 있는 'Survived'가 떨어져 나가는 것임(추후에 다시 'train'에 더해줄 거다.
# 동일한 데이터의 개수가 되도록 5개의 나이 그룹으로 만든다. 

all_titanic['qcut_Age'] = pd.qcut(all_titanic['Age'],5, labels=False)
all_titanic

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_bool,Title,qcut_Age
0,1,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,1.0,1,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,0.0,3,3
2,3,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0,2,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,0.0,3,3
4,5,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,1.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,29.881138,0,0,A.5. 3236,8.0500,NaN,S,1.0,1,2
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,C105,C,0.0,5,3
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1.0,1,3
416,1308,3,"Ware, Mr. Frederick",male,29.881138,0,0,359309,8.0500,NaN,S,1.0,1,2
417,1309,3,"Peter, Master. Michael J",male,29.881138,1,1,2668,22.3583,NaN,C,1.0,4,2

In [34]:
print(train.shape, test.shape)  
all_titanic.shape

# # print를 안하고 아래 같이 쓰면, 맨 마지막 줄만 계산되어 나온다.
# train.shape, test.shape
# all_titanic.shape

(891, 14) (418, 13)

(1309, 14)

In [35]:
# all_titanic을 가지고 다시 train와 test를 나눠 준다. 
train_df = all_titanic.iloc[0:891, :]
test_df = all_titanic.iloc[891:, :]

In [36]:
train_df.shape, test_df.shape

((891, 14), (418, 14))

In [37]:
train_df = pd.concat([train_df, train['Survived']],axis=1 )  # 원래 trian에 있었던 'Survived'를 다시 train에 다시 붙여준다. 
train_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_bool,Title,qcut_Age,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,1.0,1,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,0.0,3,3,1
2,3,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0,2,1,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,0.0,3,3,1
4,5,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,1.0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S,1.0,5,1,0
887,888,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S,0.0,2,0,1
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.881138,1,2,W./C. 6607,23.4500,NaN,S,1.0,2,2,0
889,890,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,0.0,1,1,1
890,891,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q,1.0,1,3,0

In [38]:
# [코드1~3] 은 결측치 다 처리 된 맨 마지막에 모델 만들기 전에 해준다.
# [코드1]
#결측치 처리 된것만 여기에 쓰기 
sel = ['Pclass', 'SibSp', 'Parch', 'Cabin_bool', 'Title', 'Age']
X_train = train_df[sel]   # 우리가 방금 위에서 train_df 변수를 새로 만들었으니까, train 변수가 아니라, train_df로 해야함. 
X_test = test_df[sel]     # 우리가 방금 위에서 test_df 변수를 새로 만들었으니까, test 변수가 아니라, test_df로 해야함. 
y_train = train_df['Survived']

from sklearn.tree import DecisionTreeClassifier
decisiontree = DecisionTreeClassifier()
decisiontree.fit(X_train, y_train)
# 예측
pred = decisiontree.predict(X_test)
# pred[:15]

In [39]:
#[코드2]
sub.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [40]:
#[코드3]
sub['Survived'] = pred
sub.to_csv("dt.csv", index=False)  # index=False행에 인덱스를 넣지 않겠다.

In [41]:
# test_passengerId = test['PassengerId']
# pred = pred.astype(int)
# df_pred = pd.DataFrame({'PassengerID':test_passengerId, 'Survived':pred})
# df_pred.to_csv("decision_first_model.csv", index=False)