### lemonade prediction
- independent var 1개, subordination var 1개
- 뉴런 하나로 동작하는 모델

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 데이터를 준비합니다.


path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
feature = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
target = boston[['medv']]
print(feature.shape, target.shape)

(506, 13) (506, 1)

In [5]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[13]) # input layer을 만듬 # independent var(feature) colum 1
Y = tf.keras.layers.Dense(1)(X) # dense layer을 만듬  #subordination var(target) colum 1
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [6]:
model.fit(feature, target, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 12893.3516
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 10070.3496
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 8136.6309
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 6647.8647
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 5478.6128
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 4582.8276
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 3981.2751
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 3529.4204
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 3120.0046
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 2738.2053

In [7]:
# 모델을 학습시킵니다. 
model.fit(feature, target, epochs=1000, verbose=0) # 1000을 출력하는 동안 화면 출력을 하지 않는다.

In [8]:
# 4. 모델을 이용합니다
print(model.predict(feature[5:10]))
# 종속변수 확인
print(target[5:10])

[[25.605139]
 [20.51779 ]
 [17.471325]
 [ 8.870623]
 [17.090109]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [9]:
# 모델의 수식 확인을 위한 가중치 확인
print(model.get_weights())

# Y = x1w1 + x2w2 +x3w3+....

[array([[-0.08754942],
       [ 0.0707003 ],
       [-0.04827436],
       [ 3.246959  ],
       [ 1.0996764 ],
       [ 4.112629  ],
       [ 0.01540183],
       [-0.85343343],
       [ 0.15232806],
       [-0.01042343],
       [-0.03785472],
       [ 0.01521988],
       [-0.5715564 ]], dtype=float32), array([2.5789826], dtype=float32)]