In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 데이터를 준비합니다.


path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
feature = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
target = boston[['medv']]
print(feature.shape, target.shape)

(506, 13) (506, 1)

In [4]:
# Creating a multi layer (hidden layer 1)

X = tf.keras.layers.Input(shape=[13]) # input layer을 만듬 # independent var(feature) colum 1
H = tf.keras.layers.Dense(10, activation='swish')(X) # 10개 노드를 만들어 보기 
Y = tf.keras.layers.Dense(1)(H) # dense layer을 만듬  #subordination var(target) colum 1
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [5]:
model.fit(feature, target, epochs=10)

Epoch 1/10
16/16 [==============================] - 1s 3ms/step - loss: 1989.6957
Epoch 2/10
16/16 [==============================] - 0s 3ms/step - loss: 973.2981
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 504.5455
Epoch 4/10
16/16 [==============================] - 0s 3ms/step - loss: 317.8745
Epoch 5/10
16/16 [==============================] - 0s 3ms/step - loss: 248.5754
Epoch 6/10
16/16 [==============================] - 0s 5ms/step - loss: 209.3791
Epoch 7/10
16/16 [==============================] - 0s 3ms/step - loss: 171.2623
Epoch 8/10
16/16 [==============================] - 0s 4ms/step - loss: 145.1743
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 122.7804
Epoch 10/10
16/16 [==============================] - 0s 4ms/step - loss: 102.9912

In [7]:
# 모델을 학습시킵니다. 
model.fit(feature, target, epochs=1000, verbose=0) # 1000을 출력하는 동안 화면 출력을 하지 않는다.

In [8]:
# 4. 모델을 이용합니다
print(model.predict(feature[5:10]))
# 종속변수 확인
print(target[5:10])

[[26.94687 ]
 [23.876608]
 [20.951275]
 [14.830623]
 [19.580227]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [9]:
# 모델의 수식 확인을 위한 가중치 확인
print(model.get_weights())

# Y = x1w1 + x2w2 +x3w3+....

[array([[ 4.3966484e-01,  2.1848172e-01,  5.0194973e-01, -5.0112611e-01,
        -2.7848229e-01, -1.0926030e+00, -6.7615807e-01, -3.8413331e-01,
        -7.8520112e-02, -1.5381486e+00],
       [-3.3555269e-01,  3.9112934e-01,  1.8864803e-01, -1.5048140e-01,
        -1.9673190e-01, -3.7036481e-01,  4.1908634e-01,  8.5679285e-02,
         1.1837646e-01,  3.4077042e-01],
       [ 2.4302626e-01,  2.5856146e-01, -4.3216622e-01,  2.7118081e-01,
        -5.1684129e-01, -3.8862236e-02,  5.4203030e-02, -4.5123020e-01,
         5.4433513e-01, -3.2146186e-02],
       [ 8.2946017e-02, -1.3979473e+00,  1.5995784e+00,  3.0549381e+00,
        -2.0554349e+00,  7.9682344e-01,  1.0010237e+00,  1.4017328e+00,
         1.5487839e+00,  9.2946547e-01],
       [-4.3628834e-02,  2.4717632e-01,  2.8253737e-01, -7.8781009e-01,
         6.2552607e-01,  1.8120613e-02, -2.0304106e-01,  7.6499283e-02,
         1.1525559e-01, -4.6678871e-01],
       [ 3.2656521e-01, -1.4828846e+00,  1.0856093e+00, -9.5960188e-01,
        -1.6524613e+00, -2.2941427e+00,  1.9253508e+00,  1.4521171e+00,
         1.2833390e+00, -2.3135414e+00],
       [-1.2954450e-01, -2.1049431e-01,  9.0747081e-02, -1.7085104e-01,
        -2.4528532e-01, -4.2916410e-02,  5.4670125e-01, -7.1377087e-01,
         1.3817607e-01,  5.2367836e-01],
       [ 2.8776982e-01,  6.8804640e-01,  5.9381507e-02, -3.3432454e-01,
        -1.9741456e-01,  6.3414550e-01, -1.5721236e-01, -7.9455137e-02,
        -5.9113020e-01,  4.2180902e-01],
       [-1.4411578e-04, -4.5062467e-01, -3.7624437e-01,  2.3756848e-01,
        -1.2652798e-01, -1.6953273e-01, -2.5880930e-01, -3.5223916e-01,
        -1.2535414e-01, -6.6729325e-01],
       [-5.5131081e-02,  3.7662858e-01,  2.4139909e-01,  4.3135703e-01,
         3.5043290e-01, -1.4698528e-01, -2.2251871e-01,  1.5068942e-01,
        -5.4051310e-02, -2.1334852e-01],
       [-2.6270893e-01,  3.1420544e-01, -1.6248067e-01, -1.9237405e-01,
        -7.6322041e-02,  4.6404558e-01, -2.8840309e-01, -4.3527749e-01,
         6.1159146e-01,  3.6749503e-01],
       [-1.7965646e-01, -1.2746158e-01,  1.5642735e-01, -5.4272437e-01,
        -6.8027958e-02,  2.5688317e-01,  3.0010468e-01,  9.7481765e-02,
         2.3242700e-01,  2.5387827e-01],
       [-3.4304231e-01,  1.8028334e-01, -4.8297796e-01, -4.7493541e-01,
         1.1091709e-01,  1.8874572e-01, -1.0634012e+00, -1.0262545e+00,
        -7.9413282e-04, -6.5938574e-01]], dtype=float32), array([-0.1472373 , -0.5832749 ,  0.5892115 ,  0.49059284, -0.6284818 ,
       -0.4686516 ,  0.5862438 ,  0.47499508,  0.62032306, -0.45925507],
      dtype=float32), array([[ 0.22735575],
       [-0.5182385 ],
       [ 0.443393  ],
       [ 0.39688036],
       [-0.19611669],
       [-0.4540658 ],
       [ 0.31301722],
       [ 0.16306674],
       [ 0.2669484 ],
       [-0.65121627]], dtype=float32), array([0.6036565], dtype=float32)]

In [10]:
model.summary()

# Param == weight

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 13)]              0

 dense (Dense)               (None, 10)                140

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________