In [4]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib import rc, rcParams

warnings.filterwarnings('ignore')
rc('font', family='AppleGothic')
rcParams['axes.unicode_minus']= False

In [5]:
train = pd.read_csv("data/4_train.csv")
test = pd.read_csv("data/4_test.csv")

train.shape

(2952, 73)

In [6]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,나머지,분양상가,분양아파트,등록차량수,총세대수_lb,총세대수_lb_A1,총세대수_lb_B1,총세대수_lb_C1,총세대수_lb_D1,총세대수_lb_E1
0,ERR04_2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
1,ERR04_2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
2,ERR04_2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
3,ERR04_2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
4,ERR04_2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0

In [7]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철', '버스정류장', '단지내주차면수', 'ERROR1',
       '임대건물구분_lb', '상가', '아파트', '지역_lb', '강원도', '경기도', '경상남도', '경상북도',
       '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '전라남도',
       '전라북도', '제주특별자치도', '충청남도', '충청북도', '공급유형_lb', '공공분양', '공공임대(10년)',
       '공공임대(50년)', '공공임대(5년)', '공공임대(분납)', '국민임대', '영구임대', '임대상가', '장기전세',
       '행복주택', '자격유형_lb', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
       'K', 'L', 'M', 'N', 'O', 'ERROR1_lb', '나머지', '분양상가', '분양아파트', '등록차량수',
       '총세대수_lb', '총세대수_lb_A1', '총세대수_lb_B1', '총세대수_lb_C1', '총세대수_lb_D1',
       '총세대수_lb_E1'],
      dtype='object')

In [8]:
train.dtypes

단지코드          object
총세대수           int64
임대건물구분        object
지역            object
공급유형          object
               ...
총세대수_lb_A1     int64
총세대수_lb_B1     int64
총세대수_lb_C1     int64
총세대수_lb_D1     int64
총세대수_lb_E1     int64
Length: 73, dtype: object

### 전용면적을 5의 배수로 변경

In [9]:
train['전용면적'] = train['전용면적']//5*5
test['전용면적'] = test['전용면적']//5*5

### 전용면적 상/하한 적용

In [12]:
idx = train[train['전용면적']>100].index
train.loc[idx, '전용면적'] = 100
idx = test[test['전용면적']>100].index
test.loc[idx, '전용면적'] = 100

idx = train[train['전용면적']<15].index
train.loc[idx, '전용면적'] = 15
idx = test[test['전용면적']<15].index
test.loc[idx, '전용면적'] = 15

In [14]:
train.head(10)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,나머지,분양상가,분양아파트,등록차량수,총세대수_lb,총세대수_lb_A1,총세대수_lb_B1,총세대수_lb_C1,총세대수_lb_D1,총세대수_lb_E1
0,ERR04_2483,900,아파트,경상북도,국민임대,35.0,134,38.0,A,15667000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
1,ERR04_2483,900,아파트,경상북도,국민임대,35.0,15,38.0,A,15667000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
2,ERR04_2483,900,아파트,경상북도,국민임대,50.0,385,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
3,ERR04_2483,900,아파트,경상북도,국민임대,50.0,15,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
4,ERR04_2483,900,아파트,경상북도,국민임대,50.0,41,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
5,ERR04_2483,900,아파트,경상북도,국민임대,50.0,89,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
6,ERR04_2483,900,아파트,경상북도,국민임대,50.0,135,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
7,ERR04_2483,900,아파트,경상북도,국민임대,55.0,86,38.0,A,30357000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
8,C2515,545,아파트,경상남도,국민임대,30.0,276,17.0,A,9216000.0,...,1,0,0,205.0,D1,0,0,0,1,0
9,C2515,545,아파트,경상남도,국민임대,35.0,60,17.0,A,12672000.0,...,1,0,0,205.0,D1,0,0,0,1,0

In [18]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,ERROR1_lb,나머지,분양상가,분양아파트,총세대수_lb,총세대수_lb_A1,총세대수_lb_B1,총세대수_lb_C1,총세대수_lb_D1,총세대수_lb_E1
0,C1072,754,아파트,경기도,국민임대,35.0,116,14.0,H,22830000.0,...,0,1,0,0,D1,0,0,0,1,0
1,C1072,754,아파트,경기도,국민임대,45.0,30,14.0,A,36048000.0,...,0,1,0,0,D1,0,0,0,1,0
2,C1072,754,아파트,경기도,국민임대,45.0,112,14.0,H,36048000.0,...,0,1,0,0,D1,0,0,0,1,0
3,C1072,754,아파트,경기도,국민임대,45.0,120,14.0,H,36048000.0,...,0,1,0,0,D1,0,0,0,1,0
4,C1072,754,아파트,경기도,국민임대,50.0,60,14.0,H,43497000.0,...,0,1,0,0,D1,0,0,0,1,0

In [21]:
test['전용면적'].unique()

array([ 35.,  45.,  50.,  30.,  55.,  25.,  75., 100.,  15.,  20.,  40.,
        60.,  80.,  70.])

# 파일 저장하기

In [26]:
# 전용면적 5의 배수
train.to_csv('5_train.csv', index=False)

In [27]:
# 전용면적 5의 배수
test.to_csv('5_test.csv', index=False)